@import "materialize-css/sass/components/color";

/* materialize.css variables */
$primary-color-name: "purple";
$secondary-color-name: "orange";
$success-color-name: "green";
$error-color-name: "red";

$primary-color: color($primary-color-name, "darken-2") !default;
$primary-color-light: color($primary-color-name, "base");
$primary-color-dark: color($primary-color-name, "darken-4");

$secondary-color: color($secondary-color-name, "base") !default;

$card-link-color: color($secondary-color-name, "base") !default;
$success-color: color($success-color-name, "base");
$error-color: color($error-color-name, "base");
$link-color: $primary-color;


/* django-material variables */
$logo-background-color: $primary-color-dark;

$nav-default-text-color: color("grey", "darken-3");
$nav-1st-level-color: $primary-color-dark;
$nav-1st-level-text-color: white;
$nav-2d-level-color: $primary-color;

$button-floating-background: $secondary-color;

$off-black: color("grey", "darken-4");
$text-color: $off-black;

/* fixes */
$input-margin: 0 0 15px 0; //  0 0 20px 0 !default   // label data-error/data-success placeholders not used
