{% extends "programs/registration/base.html" %}
{% load static material_tags %}

{% block page_content %}
{% if error == "VALIDATION" %}
<p class="error">
  There was an error with your registration. Please review the form fields below for any error messages.
  <!--
  {{ validation_errors }}
  -->
</p>
{% elif error == "BILLING" %}
<p class="error">
  We're sorry, there was an error processing your card: {{ billing_error }}
</p>
{% endif %}
<form method="POST" action="." novalidate>
  {% csrf_token %}

  <!-- student -->
  {{ students_formset.management_form }}
  <div class="formset" data-prefix="{{ students_formset.prefix }}">
    <div class="hidden student-form formset-form card-panel">
      {% with students_formset.empty_form as form %}
      {% include "programs/registration/includes/student_info_form.html" %}
      {% endwith %}
    </div>
    {% for form in students_formset %}
    <div class="student-form formset-form card-panel">
      {% include "programs/registration/includes/student_info_form.html" %}
    </div>
    {% endfor %}
    <div class="row formset-add">
      <div class="col s12 align-right">
        <a class="btn"><i class="material-icons left">add</i>Add another student</a>
      </div>
    </div>
  </div>

  <!-- contacts -->
  {{ contacts_formset.management_form }}
  <div class="formset" data-prefix="{{ contacts_formset.prefix }}">
    <div class="hidden contact-form formset-form card-panel">
      {% with contacts_formset.empty_form as form %}
      {% include "programs/registration/includes/contact_info_form.html" %}
      {% endwith %}
    </div>
    {% for form in contacts_formset %}
    <div class="contact-form formset-form card-panel">
      {% include "programs/registration/includes/contact_info_form.html" %}
    </div>
    {% endfor %}
    <div class="row formset-add">
      <div class="col s12 align-right">
        <a class="btn"><i class="material-icons left">add</i>Add another contact</a>
      </div>
    </div>
  </div>

  <!-- other info -->
  {% with registration_form as form %}
  <div class="other-info card-panel">
    <h5>Additional Info</h5>
    <div class="row">
      <div class="input-field col s12">
        Please list any coding activities that your child has done in the past,
        such as online tutorials, workshops, classes in school, etc.
        {{ form.previous_activities }}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        Please list any other activities or after-school programs that might
        conflict with their participation in this program.
        {{ form.possible_conflicts }}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        Is there anything else would you like us to know about your child that
        will impact our ability to mentor or teach them?
        {{ form.other_info }}
      </div>
    </div>
  </div>

  <div class="payment card-panel">
      <h5>{% trans "Payment" %}</h5>
    <div class="row">
      <div class="input-field col s12 payment-method">
        Payment method:
        {% for radio in form.payment_method %}
        {{ radio.tag }}
        <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
        {% endfor %}
      </div>
    </div>
    <div class="row charge-method hidden">
      <div class="input-field col s12">
        How would you like to be charged?
        {% for radio in form.payment_frequency %}
        {{ radio.tag }}
        <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
        {% endfor %}
      </div>
    </div>
    <!--
    <script src="https://secure.1stpaygateway.net/restgw/cdn/cryptogram.min.js"
      id="checkout-js" type="text/javascript"
      data-transcenter="{{ settings.FPG_TRANSACTION_CENTER_ID }}"
      data-processor="{{ settings.FPG_PROCESSOR_ID }}"
      data-type="Auth"></script>
    -->
  </div>
  {% endwith %}

  <!-- financial assistance -->
  {% with financial_assistance_form as form %}
  <div class="financial-assistance card-panel hidden">
    <h5>Financial Assistance Information</h5>
    <p>
      To apply for financial assistance, please complete the following
      information. We will contact you as soon as we review your application.
    </p>
    <div class="row">
      <div class="input-field col s12">
        {{ form.total_family_income }}
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        Number of people supported by this income:<br>
        <div class="input-field inline">
          {{ form.num_people_supported_by_income }}
        </div>
      </div>
      <div class="col s12 m6">
        Number of children living at home:<br>
        <div class="input-field inline">
          {{ form.num_dependent_children }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="input-field inline">
          Please list any unusual or extraordinary family expenses or circumstances:
          {{ form.extraordinary_circumstances }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        Amount of financial assistance you are requesting:<br>$
        <div class="input-field inline">
          {{ form.amount_requested }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="input-field inline">
          Have you received financial assistance from Bold Idea in the past 12 months?
          {% for radio in form.received_previously %}
          {{ radio.tag }}
          <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endwith %}

  {% if not account %}
  <div class="password card-panel">
    <h5>Login Information</h5>
    <p>
      Your Bold Idea login will allow you to view your billing status, make payments, and make it easy to
      re-enroll your children in future Bold Idea programs.
    </p>
    <div class="row">
      <div class="input-field col s12">
        {{ user_form.email }}
        {% field_label user_form.email "Login email" %}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m6">
        {{ user_form.password1 }}
        {% field_label user_form.password1 %}
      </div>
      <div class="input-field col s12 m6">
        {{ user_form.password2 }}
        {% field_label user_form.password2 %}
      </div>
    </div>
  </div>
  {% endif %}

  <div class="terms card-panel">
    <h5>Terms and Conditions</h5>
    <div class="row">
      <div class="input-field col s12">
        I understand that when participating in Bold Idea activities, my child may be photographed for print, video, or
        electronic imaging. I understand that the images may be used in promotional materials, news releases, and other
        formats for Bold Idea. I acknowledge that any images will be the sole property of Bold Idea. By submitting this
        form, I swear that all information provided on this application is true and accurate.
        {{ registration_form.accept_terms }}
        {% field_label registration_form.accept_terms "I agree" %}
      </div>
    </div>
  </div>

  <div class="row submit-row">
    <div class="col s12 align-right">
      <input class="btn" type="submit" value="Submit Registration">
    </div>
  </div>
</form>
{% endblock %}

{% block extrajs %}
{{ block.super }}
<script src="{% static "programs/js/registration.js" %}"></script>
{% endblock %}
