{% extends "programs/registration/base.html" %}
{% block page_content %}
<p>
  The following is a list a students on your account that have participated in a
  previous Bold Idea program. Check the box next to the students you would like
  to enroll in <em>{{ program.name }}</em>.
</p>
<ul>
  {% for student in account.students.all %}
  <li>
    <input type="checkbox" id="student_{{ student.id }}">
    <label for="student_{{ student.id }}">
      {{ student.name }}
    </label>
  </li>
  {% endfor %}
</ul>
{% endblock %}

