{% extends "programs/registration/base.html" %}
{% block page_content %}
<div class="row">
	<div class="col s12 m6">
		<div class="card">
      <form method="POST" action=".">
        <div class="card-content">
          <span class="card-title">Enter your email</span>
          <p>
            If you've registered with us in the past, be sure to use the same email address.
          </p>
            {% csrf_token %}
            <div class="input-field">
              <input placeholder="email@example.com" name="email" type="email" class="validate">
            </div>
          </div>
          <div class="card-action">
            <input type="submit" class="btn" value="Next">
          </div>
        </div>
      </form>
		</div>
	</div>
</div>
{% endblock %}
