{% extends "volunteers/base.html" %}
{% load static thumbnail %}

{% block page_content %}
<h3>Volunteer Opportunities</h3>
<div class="row">
  {% for opportunity in opportunities %}
  <div class="col s12 m6 l4">
    <div class="card">
      <a class="card-image" href="{% url "volunteers-signup" slug=opportunity.slug %}">
        <img class="activator" src="{% thumbnail opportunity.photo 400x225 crop upscale %}">
        <span class="card-title">{{ opportunity.name }}</span>
      </a>
      <div class="card-content">
        {% with opportunity.program_locations.count as locations %}
        {% if locations > 0 %}
        <p class="locations">{{ locations }} location{{ locations|pluralize }}</p>
        {% endif %}
        {% endwith %}
        <p class="description">{{ opportunity.short_description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url "volunteers-signup" slug=opportunity.slug %}">
          <i class="material-icons left">assignment_ind</i>
          Sign up
        </a>
      </div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:3 %}
</div>
<div class="row">
  {% endif %}
  {% endfor %}
</div>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script>
$(document).ready(function() {
  $('.modal').modal();
});
</script>
{% endblock %}
