{% extends "volunteers/base.html" %}
{% load static questionnaire_tags material_tags material_form material_form_internal %}

{% block extracss %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "questionnaires/css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "dropify/css/dropify.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "hive/css/dropify-profile-photo.css" %}">
<style>
  .photo-instructions {
    font-size: 75%;
    font-style: italic;
    text-align: center;
  }
</style>
{% endblock %}

{% block page_content %}
{% include "hive/includes/pickers.html" %}
<div class="section">
  <h3>Volunteer Profile</h3>
  {% if not profile %}
  <p>
    Before you can sign up for a volunteer opportunity, you'll need to complete your Bold Idea profile. You'll
    only have to do this once. Next time you volunteer, just log in and go directly to the sign-up form.
  </p>
  {% endif %}
  <form enctype="multipart/form-data" method="POST" action=".">{% csrf_token %}
    {% form %}
    {% part form %}

    {% for field in form.hidden_fields %}
    {{ field }}
    {% endfor %}

    {% minimal_error_list form user_form %}

    <div class="card-panel">
      <div class="row">
        <div class="photo-upload col s12 m4">
          {{ form.photo }}
        </div>
        <div class="col s12 m4">
          {% field form.first_name %}
        </div>
        <div class="col s12 m4">
          {% field form.last_name %}
        </div>
        <div class="col s12 m8">
          {% field form.email %}
        </div>
        {% if not user %}
        {% with user_form as form %}
        <div class="col s12 m4">
          {% field form.password1 %}
        </div>
        <div class="col s12 m4">
          {% field form.password2 %}
        </div>
        {% endwith %}
        {% else %}
        <div class="col s12 m8">
          <i class="material-icons tiny">lock</i>
          <a href="#">Click here to change your password.</a>
        </div>
        {% endif %}
      </div>
      <div class="row">
        <div class="col s12 m6">
          {% field form.birth_date %}
        </div>
        <div class="col s12 m6">
          {% field form.shirt_size %}
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <p>
            <label>Are you a student?</label>
          </p>
          <div class="switch">
            <label>
              No
              <input class="validate validate" id="id_is_student" name="is_student" type="checkbox">
              <span class="lever"></span>
              Yes
            </label>
          </div>
        </div>
        <div class="col s12 m6 company-field">
          {% field form.company %}
        </div>
        <div class="col s12 m6 school-field">
          {% field form.school %}
        </div>
      </div>
    </div>
    <div class="card-panel">
      <h5>Contact info</h5>
      <div class="row">
        <div class="col s12 m6">
          {% field form.address1 %}
        </div>
        <div class="col s12 m6">
          {% field form.address2 %}
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          {% field form.city %}
        </div>
        <div class="col s12 m4">
          {% field form.state %}
        </div>
        <div class="col s12 m4">
          {% field form.postal_code %}
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          {% field form.phone %}
        </div>
        <div class="col s12 m6">
          {% field form.alt_phone %}
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          {% field form.emergency_contact %}
        </div>
      </div>
    </div>
    <div class="card-panel demographics">
      <h5>Gender, race, &amp; ethnicity</h5>
      <p class="disclaimer">
        The following information helps to ensure that we're providing diverse role models for our students,
        improve our outreach efforts and expand our programs into communities that need it the most. Bold Idea does
        not discriminate based on race, ethnicity, or gender.
      </p>
      <div class="row">
        <div class="col s12 m4">
          {% field form.gender %}
        </div>
        <div class="col s12 m4">
          {% field form.race %}
        </div>
        <div class="col s12 m4">
          {% field form.ethnicity %}
        </div>
      </div>
    </div>
    <div class="card-panel languages">
      <h5>Languages</h5>
      <p>Please rate your proficency in the following languages:</p>
      <div class="row">
        {% for lang_field in form.language_fields %}
        <div class="col s12 m4">
          {% field lang_field %}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="card-panel questionnaire">
      <h5>Tell us about yourself!</h5>
      {% for question, field in form.questionnaire_fields %}
      <div class="row">
        <div class="col s12">
          {% question_field question field %}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row submit-row">
      <div class="col s12 align-right">
        {% if next %}
        <p class="align-right">
          Press "Continue" to save your profile and continue to the next step.
        </p>
        <input type="submit" value="Continue" class="btn">
        {% else %}
        <input type="submit" value="Save" class="btn">
        {% endif %}
      </div>
    </div>
    {% endpart %}
    {% endform %}
    <input type="hidden" name="next" value="{{ next|default:"" }}">
  </form>
</div>

{% endblock %}

{% block extrajs %}
{{ block.super }}
<script src="{% static "dropify/js/dropify.min.js" %}"></script>
<script src="{% static "hive/js/dropify-profile-photo.js" %}"></script>
<script src="{% static "hive/js/material-pickers.js" %}"></script>
<script>
  (function($){
    $(document).ready(function() {
      $('#id_is_student').on('change', function() {
        $('.school-field').toggle(this.checked);
        $('.company-field').toggle(!this.checked);
      }).change();
    });
  })(jQuery);
</script>
{% endblock %}
