{% extends "volunteers/base.html" %}
{% load static material_tags questionnaire_tags thumbnail %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "questionnaires/css/style.css" %}">
<style>
  .program {
    padding: 10px 20px;
    min-width: 100%;
    display: flex;
    align-items: center;
  }
  .program.hoverable {
    cursor: pointer;
  }
  .program:not(.selectable) {
    background: #eee;
  }
  .program a {
    cursor: pointer;
  }
  .program p {
    margin: 0 10px;
    padding: 0;
  }
  .program .schedule span {
    white-space: nowrap;
  }
  .program .img img {
    display: block;
  }
  .program .info {
    min-width: 220px;
    flex: 1;
  }
  .programs {
    display: flex;
    flex-wrap: wrap;
  }
  .map-column {
    flex-grow: 1;
    flex-basis: 320px;
    min-height: 300px;
    max-height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .program-options {
    flex-grow: 1;
    flex-basis: 380px;
  }
  .map-container {
    padding: 20px 20px 20px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  #map {
    flex: 1;
    width: 100%;
    height: 100%;
  }
  .view-schedule {
    line-height: 2em;
    vertical-align: middle;
  }
  .view-schedule i.left {
    margin-right: 4px;
  }
  .absences .card-panel {
    margin: 16px;
  }
  .submit-row {
    margin-top: 1rem;
  }
  .hoverable {
    cursor: pointer;
  }
  @media only screen and (max-width: 360px) {
    .map-column {
      display: none;
    }
    .program-options {
      margin-left: -16px;
      margin-right: -16px;
    }
  }
</style>
{% endblock %}

{% block page_content %}
{% include "hive/includes/pickers.html" %}
<h3>Sign Up: {{ opportunity.name }}</h3>
<form method="post" action=".">{% csrf_token %}
  <p>{{ opportunity.short_description }}</p>
  {% if opportunity.description_url %}
  <p><a class="btn" href="{{ opportunity.description_url }}" target="_blank">View full job description</a></p>
  {% endif %}
  {% if programs.count > 0 and not selected_programs.count > 0 %}
  {#--| Program site selection |----------------#}
    <div class="row">
      <div class="col s12">
        <h4>
          Step 1: Select your {% if select_multiple %}teams{% else %}team{% endif %}
        </h4>
        <p>
          Select the student {% if select_multiple %}teams{% else %}team{% endif %} that you would prefer to
          {% if opportunity.role == "FLOATER" or opportunity.role == "MENTOR" %}mentor{% else %}serve{% endif %}.
        </p>
        {% if form.errors.programs %}
        <p class="error">You must select a program site to continue.</p>
        {% endif %}
      </div>
    </div>
    <div class="programs">
      <div class="map-column">
        <div class="map-container">
          <div id="map"></div>
        </div>
      </div>
      <div class="program-options">
        {% for program in programs %}
        {% with selectable=True %}
        {% include "volunteers/includes/program-info-card.html" %}
        {% endwith %}
        {% endfor %}
        {% if select_multiple %}
        <div class="row submit-row">
          <div class="col s12 right-align">
            <input type="submit" value="Next" class="btn">
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  {% else %}
    {#--| Final submission form |----------------#}
    <input type="hidden" name="opportunity" value="{{ opportunity.id }}">
    {% if selected_programs %}

    {% for program in selected_programs %}
    <input type="hidden" name="program" value="{{ program.id }}">
    {% endfor %}

    <h4>Step 2: Confirm your registration</h4>
    {% else %}
    <h4>Confirm your registration</h4>
    {% endif %}
    <p class="important">
      <em>Your registration is not yet complete.</em> Please review all information and complete all required
      fields. When finished, press the "submit" button at the bottom of the page.
    </p>
    {% if selected_programs %}
    <div class="row">
      <div class="col s12"><h5>Your selected program{% if select_multiple %}s{% endif %}:</h5></div>
      <div class="col s12 m6 li4">
        {% for program in selected_programs %}
        {% include "volunteers/includes/program-info-card.html" %}
        {% endfor %}
      </div>
    </div>
    {% if requirements|length > 0 %}
    <div class="card-panel">
      <div class="row">
        <div class="col s12">
          <h5>Additional Requirements</h5>
          <p>
            {% if selected_programs|length > 1 %}
            One or more of your selected program sites have the following requirements:
            {% else %}
            Your selected program site has the following additional requirements:
            {% endif %}
          </p>
          <ul class="requirements">
            {% for requirement in requirements %}
            <li>{{ requirement.name }}</li>
            {% endfor %}
          </ul>
          <p>
            After your sign-up is complete, we will provide further instructions on how to complete this
            requirement.
          </p>
        </div>
      </div>
    </div>
    {% endif %}
    {% if confirm_schedule %}
    {% minimal_error_list form %}
    <div class="absences">
      <div class="row">
        <div class="col s12">
          <h5>Confirm your schedule</h5>
          <p>
            Below is a list of session dates for the programs you've selected.
            <em>Please uncheck any sessions that you know you cannot attend, so that we can plan accordingly.</em>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l6">
          <section class="card">
            <div class="card-content condensed">
              <p class="important">
                Please uncheck any sessions that you <em>cannot</em> attend:
              </p>
              {% with program=selected_programs.0 show_checkbox=True show_all_sessions=True %}
              {% include "programs/includes/program_schedule.html" %}
              {% endwith %}
            </div>
          </section>
        </div>
      </div>
    </div>
    {% endif %}
    {% endif %}
    {% if form.questionnaire %}
    <div class="card-panel questionnaire">
      <div class="row">
        <div class="col s12">
          <h5>Additional Info</h5>
        </div>
      </div>
      {% for question, field in form.questionnaire_fields %}
      <div class="row">
        <div class="col s12">
          {% question_field question field %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <div class="card-panel">
      <div class="row">
        <div class="col s12">
          {% include "volunteers/includes/agreement.html" %}
        </div>
      </div>
    </div>
    <div class="card-panel">
      <div class="row">
        <div class="col s12">
          <p>
            For the purposes of the background check, please verify your 
            <em>full legal name</em> and date of birth:
          </p>
        </div>
        <div class="col s6 input-field">
          {{ form.full_legal_name }}
          {% field_label form.full_legal_name %}
        </div>
        <div class="col s6 input-field">
          {{ form.birth_date }}
          {% field_label form.birth_date %}
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p>
            By checking "I agree", you acknowledge that you wish to participate as a
            volunteer with Bold Idea. You futher aknowledge that you understand the 
            expectations and agree to the terms outlined above.
          </p>
          {{ form.agreement }}
          {% field_label form.agreement label="I agree" %}
        </div>
      </div>
    </div>
    <div class="row submit-row">
      <div class="col s12 right-align">
        <input type="submit" name="submit-signup-form" value="Submit" class="btn">
      </div>
    </div>
  {% endif %}
</form>
{% endblock %}

{% block extrajs %}{{ block.super }}
{% if programs.count > 0 and selected_programs.count == 0 %}
{% include "programs/includes/program_map_js.html" %}
{% endif %}
<script src="{% static "hive/js/material-pickers.js" %}"></script>
<script>
  (function($) {
    var locations = {};
    $(document).ready(function() {
      $('.program.selectable').on('click', function(event) {
        if (event.target.tagName.toLowerCase() === 'a') {
          return;
        }
        var $this = $(this);
        if ($this.data('selectMultiple')) {
          var $checkbox = $this.find('input[type="checkbox"]');
          var checked = $checkbox.prop('checked');
          $checkbox.prop('checked', !checked);
        } else {
          window.location.href = '?program=' + $this.data('programId');
        } 
      }).on('mouseenter', function() {
        var id = $(this).data('locationId');
        if (locations[id]) {
          locations[id].marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }).on('mouseleave', function() {
        var id = $(this).data('locationId');
        $(this).toggleClass('z-depth-4', false);
        if (locations[id]) {
          locations[id].marker.setAnimation(null);
        }
      });
      $('.modal').modal();
      $('.absences tr.hoverable').on('click', function(event) {
        var checkbox = $(this).find('input[type="checkbox"]').get(0);
        checkbox.checked = !checkbox.checked;
      });
    });
    if ($('#map').length) {
      $('#map')[0].addEventListener('program-map-ready', function(event) {
        locations = event.detail;
        window.locations = locations;
      });
    }

    /**
     * Pushpin magic for map
     */
    // detect when map and choices are in 2 columns
    $(window).on('resize', function() {
      if ($('.map-column').length) {
        var wrapped = $('.map-column').offset().top != $('.program-options').offset().top;
        if (wrapped) {
          $('.map-column').removeClass('wrapped');
          $('.map-container').pushpin('remove');
          $('.map-container').css('width', '');
          $('.map-container').css('height', '');
        } else {
          $('.map-column').addClass('wrapped');
          $('.map-container').pushpin({top: $('.map-column').offset().top, offset: 20});
          $('.map-container').css('width', $('.map-column').width());
          $('.map-container').css('height', $('.map-column').css('max-height'));
        }
      }
    }).resize();

  })(jQuery);
</script>
{% endblock %}
