{% extends "hive/raw_base.html" %}
{% load static %}
{% load i18n %}

  {% block extrahead %}
  <script src="{% static "components/webcomponentsjs/webcomponents-lite.js" %}"></script>
  <script>
    /* prefer shadow dom on Polymer */
    window.Polymer = {
      dom: 'shadow'
    }
  </script>
  {% endblock %}

  {% block body %}
  <div class="main">
    <nav class="primary-color lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">
          <img src="{% static "hive/images/logo-nav.png" %}">
          {% block page_title %}<span title="Hive Integrated Volunteer Engine">{{ page_title|default:"HIVE" }}</span>{% endblock %}
        </a>

        <ul class="right hide-on-med-and-down">
          {% block nav %}
          {% include "hive/includes/nav.html" %}
          {% endblock %}
        </ul>

        <ul id="nav-mobile" class="side-nav">
          {% block nav_mobile %}
          {% include "hive/includes/nav.html" %}
          {% endblock %}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <div class="page-content">
    {% block content %}
    {% endblock %}
    </div>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Bold Idea</h5>
            <p class="grey-text text-lighten-4">
              2904 Floyd Street, Suite A<br>
              Dallas, TX 75204
            </p>
          </div>
          <!--
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          -->
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col s12 m6">
              Copyright &copy; {% now "Y" %} Bold Idea, Inc.
            </div>
            <div class="col s12 m6 right-align">
                {% trans "Created with	&#x2764; at Bold Idea HQ." %}
            </div>
        </div>
      </div>
    </footer>

  {% endblock %}

  {% block extrajs %}
  {{ block.super }}
  {% if messages %}
  <script type="text/javascript">
    $(document).ready(function() {
      {% for message in messages %}
      Materialize.toast('{{ message|capfirst }}', 5000, 'alert-{{ message.tags }} rounded')
      {% endfor %}

      // enable modals
      $('.modal').modal();
    });
  </script>
  {% endif %}
  {% endblock %}
