{% load compress static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" href="{% static "hive/favicon.ico" %}">
  {% block title %}<title>{{ page_title|default:"Bold Idea" }}</title>{% endblock %}


  {% include "hive/includes/material_css.html" %}

  {% compress css %}
  <link type="text/x-scss" href="{% static "material/sass/_variables.scss" %}" rel="stylesheet">
  {% endcompress %}

  {% include "hive/includes/material_css.html" %}

  {% compress css %}
  <link type="text/x-scss" href="{% static "hive/css/style.scss" %}" rel="stylesheet">
  {% endcompress %}

  {% block extracss %}
  {% endblock %}

  {% block extrahead %}
  {% endblock %}
</head>
<body>
  {% block body %}
  {% endblock %}

  <!-- Scripts -->
  <script src="{% static "hive/js/jquery.min.js" %}"></script>
  <script src="{% static "materialize-css/js/bin/materialize.js" %}"></script>
  <script src="{% static "hive/js/init.js" %}"></script>

  {% block extrajs %}
  {% endblock %}

  <!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-90407459-2', 'auto');
		ga('send', 'pageview');
	</script>

  </body>
</html>

