{% extends "admin/change_form.html" %}
{% load hive_admin_tags markdown %}

{% block change_form %}
{% with original as obj %}
<style>
  table.key-value td,
  table.key-value th {
    padding: 4px;
  }
  table.key-value th[scope="row"] {
    width: 1%;
    white-space: nowrap;
    font-weight: bold;
  }
  .readonly-fields .row {
    margin-bottom: 8px;
  }
  .change-form h4.form-title {
    margin-top: 32px;
  }
  .status {
    display: inline-block;
    font-size: .8em;
    border-radius: 4px;
    padding: 0px 8px;
    margin-right: 8px;
  }
  .status.absent {
    background: #F44336;
    color: white;
  }
</style>
<div class="readonly-fields">
  <div class="layout-row row">
    <div class="col s12">
      <table class="key-value">
        <tr>
          <th scope="row">Volunteer:</th>
          <td>
            <a href="{% url "admin:volunteers_volunteer_change" obj.volunteer.id %}">
              {{ obj.volunteer }}
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">Opportunity:</th>
          <td>{{ obj.opportunity }}</td>
        </tr>
        {% if obj.program %}
        <tr>
          <th scope="row">Program:</th>
          <td>{{ obj.program }}</td>
        </tr>
        {% endif %}
      </table>
    </div>
  </div>

  <h4 class="form-title black-text">Attended Training Sessions</h4>
  <div class="layout-row">
    <div class="col s12 collection">
      {% for training_session in obj.attended_training_sessions %}
      <div class="collection-item">
        {{ training_session.date }}: {{ training_session }}
      </div>
      {% empty %}
      <div class="collection-item">
        <i>{{ obj }} has not attended a training session associated with this opportunity.</i>
      </div>
      {% endfor %}
    </div>
  </div>

  {% if obj.volunteer.session_attendances.future.count > 0 %}
  <h4 class="form-title black-text">Future Session Attendance</h4>
  <div class="layout-row">
    <div class="col s12 collection">
      {% for attendance in obj.session_attendances.future %}
      <div class="collection-item">
        <span class="status {{ attendance.status|lower }} ">{{ attendance.status }}</span> {{ attendance.session.date }}: {{ attendance.session.program.name }}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if obj.form_data.questionnaire %}
  <h4 class="form-title black-text">Questionnaire</h4>
  <div class="layout-row">
    <div class="col s12 collection">
      {% for key, question in obj.form_data.questionnaire.items %}
      <div class="collection-item">
        <p><strong>{{ question.label }}:</strong></p>
        {% if question.value|is_list %}
        {{ question.value|join:", " }}
        {% else %}
        {{ question.value|markdown }}
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

</div>
{% endwith %}
{% endblock %}
