.exit-ticket-results .question h5 i {
  margin-right: 5px;
}
.exit-ticket-results .question.correct h5 i {
  color: green;
}
.exit-ticket-results .question.incorrect h5 i {
  color: red;
}
.exit-ticket-results .question .choice {
  display: flex;
  align-items: flex-start;
}
.exit-ticket-results .question .choice .choice-text {
  flex: 1;
}
.exit-ticket-results .question .choice .stats span {
  border: 1px solid #ccc;
  background: #f8f8f8;
  border-radius: 4px;
  font-style: italic;
  color: #333; 
  display: inline-block;
  text-align: center;
  width: 35px;
}
.exit-ticket-results .question .choice .stats {
  margin-right: 10px;
}
.exit-ticket-results .question .choice i {
  font-size: 1.2em;
  color: #ccc;
  position: relative;
  z-index: 2;
}
.exit-ticket-results .question .choice.selected:not(.correct) i {
  color: red;
}
.exit-ticket-results .question .choice.selected.correct i {
  color: green;
}
.exit-ticket-results .question .choice.correct i:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  z-index: -1;
  background: white;
}
.exit-ticket-results .question.incorrect .choice.correct i:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: green;
  opacity: .8;
  transform: scale(1);
  animation: pulse 1s infinite ease-out;
}
@keyframes pulse {
  to {
    opacity: 0;
    transform: scale(1.75);
  }
}

.exit-ticket-results .total-score {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 4px 10px;
}
