{% extends "admin/change_list.html" %}

{# Adds import/export actions to material change_list template #}
{% block extrastyle %}
<style>
  .object-tools {
    display: flex;
  }
  .object-tools a {
    padding-right: 1em;
  }
</style>
{% endblock %}

{% block main_content %}
  <ul class="object-tools" style="display: none">
    {% block object-tools-items %}
    {% endblock %}
  </ul>
  {{ block.super }}
{% endblock %}

{% block extrajs %}
  {{ block.super }}
  <!-- Move object-tools into materialize action card -->
  <script type="text/javascript">
    (function($){
      $(document).ready(function() {
        $('.object-tools').insertBefore('.actions-card .actions').show();
      });
    })(jQuery);
  </script>
{% endblock %}
