{% extends "admin/import_export/base.html" %}
{% load i18n %}
{% load admin_urls %}
{% load import_export_tags %}
{% load material_tags %}

{% block breadcrumbs_last %}
{% trans "Export" %}
{% endblock %}

{% block main_content %}
<form action="" method="POST">
  {% csrf_token %}

  <div class="card">
    <div class="card-content">
      <span class="card-title">Export {{ opts.verbose_name_plural }}</span>
      <div class="row">
        <div class="col s12 m4">
          {% for field in form %}
          <div class="input-field">
            {{ field }}
            {% field_label field %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="card-action">
      <input type="submit" class="btn" value="{% trans "Submit" %}">
    </div>
  </div>

</form>
{% endblock %}
