{% extends "admin/change_form.html" %}
{% load hive_admin_tags %}

{% block change_form %}

{% with original as obj %}
<style>
  .readonly-fields .row {
    margin-bottom: 8px;
  }
  .change-form h4.form-title {
    margin-top: 32px;
  }
</style>
<div class="readonly-fields">

  <div class="layout-row row">
    {% with obj.account.default_contact as contact %}
    <div class="col s12 m6">
      <div class="layout-row row">
        <div class="col s12">
          <strong>Date:</strong> {{ obj.date|date }}
        </div>
      </div>
      <div class="layout-row row">
        <div class="col s12">
          <strong>Account#:</strong> {{ obj.account.account_number }}
        </div>
      </div>
      <div class="layout-row row">
        <div class="col s12">
          <strong>Primary Contact:</strong> {{ contact }}
        </div>
      </div>
      <div class="layout-row row">
        <div class="col s12">
          <strong>Primary Contact Email:</strong>
          <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
        </div>
      </div>
      <div class="layout-row row">
        <div class="col s12">
          <a href="#formDataModal" class="btn btn-small white-text">View form data</a>

          <!-- Modal Structure -->
          <div id="formDataModal" class="modal">
            <div class="modal-content">
              <h4>Form submission data</h4>
              <pre class="json">
              {{ obj.form_data|json }}
              </pre>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close btn btn-flat">Close</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    {% endwith %}

    {% if obj.payment_method %}
    <div class="col s12 m6">
      <div class="layout-row row">
        <div class="col s12">
          <strong>Invoice #:</strong>
          {% with obj.get_invoice_url as invoice_url %}
            {% if invoice_url %}
            <a href="{{ obj.get_invoice_url }}" target="_blank">{{ obj.invoice_number }}</a>
            {% else %}
            {{ obj.invoice_number }}
            {% endif %}
          {% endwith %}
        </div>
      </div>
      <div class="layout-row row">
        <div class="col s12">
          <strong>Payment method:</strong> {{ obj.get_payment_method_display }}
        </div>
      </div>
      {% if obj.payment_frequency %}
      <div class="layout-row row">
        <div class="col s12">
          <strong>Payment frequency:</strong> {{ obj.get_payment_frequency_display }}
        </div>
      </div>
      {% endif %}
      {% if obj.payment_method == "ASSISTANCE" %}
      <div class="layout-row row">
        <div class="col s12">
          <strong>Assistance requested:</strong> {{ obj.financial_assistance_requested }}
        </div>
        <div class="col s12">
          {# This should only have one field from the `fields` property of the modeladmin #}
          {{block.super}}
        </div>
      </div>
      {% endif %}
      {% endif %}
    </div>

  </div>


  <h4 class="form-title black-text">Registered Students</h4>
  <div class="layout-row row">
  {% for reg in obj.student_registrations.all %}
    <div class="formset-field col s6">
      <h5>{{ reg.student }} (age {{ reg.student.age }})</h5>
      <div class="row">
        <div class="col s12">
          <strong>Program:</strong> {{ reg.program }}
          {% if reg.program.schedule_description %}: {{ reg.program.schedule_description }}{% endif %}
        </div>
      </div>
      <div class="layout-row row">
        <div class="col s12">
          <strong>School:</strong> {{ reg.student.school_name }}
        </div>
      </div>
      <div class="layout-row row">
        <div class="col s12">
          <strong>Grade level:</strong> {{ reg.student.grade_name }}
        </div>
      </div>
      <div class="layout-row row">
        <div class="col s12">
          <strong>Shirt size:</strong> {{ reg.student.get_shirt_size_display }}
        </div>
      </div>
      <div class="layout-row row">
        <div class="col s12">
          <strong>Gender:</strong> {{ reg.student.get_gender_display }}
        </div>
      </div>
      <div class="layout-row row">
        <div class="col s12">
          <strong>Race:</strong> {{ reg.student.get_race_display }}
        </div>
      </div>
      <div class="layout-row row">
        <div class="col s12">
          <strong>Ethnicity:</strong> {{ reg.student.get_ethnicity_display }}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>

</div>
{% endwith %}

{% endblock %}
{% block after_related_objects %}{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="https://rawgit.com/abodelot/jquery.json-viewer/master/json-viewer/jquery.json-viewer.css">
{% endblock %}

{% block extrajs %}
{{ block.super }}
<script src="https://rawgit.com/abodelot/jquery.json-viewer/master/json-viewer/jquery.json-viewer.js"></script>
<script>
  $(document).ready(function(){
    $('.modal').modal();
    $('.json').each(function(i, el) {
      var data = JSON.parse(el.textContent);
      $(el).jsonViewer(data);
    });
  });
</script>
{% endblock %}
