{% extends "admin/base.html" %}
{% load admin_static material_admin i18n %}<!DOCTYPE html>

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "hive/admin.css" %}">
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('HIVE Administration') }}{% endblock %}

{% block sidenav_header %}
<li>
    <div class="userView">
        <img class="background" src="{% static 'material/imgs/sidenav.svg' %}">
        {% block userphoto %}
        {% if user.photo.url %}
        <a href="#"><img class="circle" src="{{ user.photo.url }}"></a>
        {% else %}
        <a href="#"><img class="circle" src="{% static 'material/imgs/user.png' %}"></a>
        {% endif %}
        {% endblock %}
        <a href="#"><span class="white-text name">{{ request.user }}</span></a>
        <a href="#"><span class="white-text email">{{ request.user.email }}</span></a>
    </div>
</li>
{% endblock %}

{% block sidenav_items %}
<li class="no-padding">
  <a class="collapsible-header" href="/admin">
    <i class="material-icons">dashboard</i>Dashboard
  </a>
</li>
{% get_app_list request as app_list %}
{% for app in app_list %}
<li class="no-padding{% if app.active %} active{% endif %}">
    <ul class="collapsible collapsible-accordion">
        <li>
            <a class="collapsible-header{% if app.active %} active{% endif %}">{{ app.app_icon }} {{ app.name|truncatechars:23 }}</a>
            <div class="collapsible-body" {% if app.active %}style="display:block"{% endif %}>
                <ul>
                    {% for model in app.models %}
                    <li class="{% if model.active %}active{% endif %}">
                      <a href="{{ model.admin_url }}">
                        {{ model.icon }}
                        {% trans model.name %}
                      </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    </ul>
</li>
{% endfor %}
<li class="no-padding">
  <a href="{% url "admin:tshirts" %}" class="collapsible-header">
    <i class="material-icons">accessibility</i>
    T-shirts
  </a>
</li>
<li class="no-padding">
  <a href="{% url "admin:map" %}" class="collapsible-header">
    <i class="material-icons">place</i>
    Map
  </a>
</li>
{% endblock %}
