{% extends "admin/base_site.html" %}
{% load i18n admin_static material_admin %}

{% block extrastyle %}
{{ block.super }}
<style>
  .content {
    flex-direction: column;
  }
  .program-sites h5 {
    margin: 10px;
  }
  .program-site {
    padding: 5px;
  }
  .program-site .card {
    margin: 5px;
  }
  .program-site .card-content {
    padding: 5px;
  }
  .program-site .card-title {
    font-size: 18px;
  }
  .slots {
    display: flex;
    flex-wrap: wrap;
  }
  .slot {
    border: 1px solid #ccc;
    margin: 2px;
    min-width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  .slot a {
    color: inherit;
  }
  .slot.filled {
    background: #eee;
  }
</style>
{% endblock %}

{% block breadcrumbs_items %}
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
{% endblock %}

{% block content %}

{% if programs|length > 0 %}
<div class="program-sites">
  <h5>Registrations</h5>
  <div class="row">
    {% for program in programs %}
    <div class="program-site col s12 l6">
      <div class="card">
        <div class="card-content">
          <span class="card-title black-text">
            <a href="{% url "admin:programs_program_change" program.id %}">{{ program.name }}</a>
          </span>
          <div class="row">
            <div class="student-slots col s12">
              <h6>Students</h6>
              <div class="slots">
                {% for reg in program.student_slots %}
                <div class="slot{% if reg %} filled{% endif %}">
                  {% if reg %}
                  <a href="{% url "admin:programs_registration_change" reg.registration.id %}" title="{{ reg.student }}">
                    {% if reg.student.gender == "MALE" %}👦
                    {% elif reg.student.gender == "FEMALE" %}👧
                    {% else %}🙂{% endif %}
                  </a>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="volunteer-slots col s12">
              <h6>Mentors</h6>
              <div class="slots">
                {% for vol in program.volunteer_slots %}
                <div class="slot{% if vol %} filled{% endif %}">
                  {% if vol %}
                  <a href="{% if vol.signup %}{% url "admin:volunteers_volunteersignup_change" vol.signup.id %}{% else %}#{% endif %}" title="{{ vol }}">
                    {% if vol.gender == "MALE" %}👨
                    {% elif vol.gender == "FEMALE" %}👩
                    {% else %}🙂{% endif %}
                  </a>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="row">
    <div class="app-list">
        {% get_app_list request as app_list %}
        {% for app in app_list %}
        <div class="app">
            <div class="card">
                <div class="card-content">
                    <span class="card-title black-text">{{ app.name }}</span>
                    <div class="row">
                        {% for model in app.models %}
                        <div class="app-item col s6 m6 l4">
                            <a href="{{ model.admin_url }}">
                                {{ model.icon }}
                                <h6>{{ model.name }}</h6>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
