{% extends "admin/base_site.html" %}
{% load i18n admin_static material_admin thumbnail %}

{% block extrastyle %}
<style>
  #map {
    min-width: 100%;
    min-height: 600px;
  }
  .submit-row {
    margin-top: 1em;
    text-align: right;
  }
</style>
{% endblock %}

{% block title %}Map: {{ semester|title }} {{ year }}{% endblock %}

{% block brand-logo %}Map: {{ semester|title }} {{ year }}{% endblock %}

{% block breadcrumbs_items %}
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
<a class="active" href="{% url 'admin:tshirts' %}">Map</a>
{% endblock %}

{% block content %}
<div class="left-panel">
  <div class="card">
    <div class="card-content">
      <div class="card-title">{{ semester|title }} {{ year }}</div>
      <div id="map"></div>
    </div>
  </div>
</div>

<div class="right-panel">
  <form action="." method="get">
    <div class="card">
      <div class="card-content">
        <div class="card-title">Semester</div>
        <div class="input-field">
          <select name="semester">
            {% for value, label in semester_options %}
            <option value="{{ value }}"{% if value == year_semester %} selected{% endif %}>{{ label }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div>
          <div class="card-title">Show</div>
          <div class="input-field">
            <input id="show_students" type="checkbox" name="show" value="s"{% if "s" in show %} checked{% endif %}>
            <label for="show_students">Students</label>
          </div>
          <div class="input-field">
            <input id="show_volunteers" type="checkbox" name="show" value="v"{% if "v" in show %} checked{% endif %}>
            <label for="show_volunteers">Volunteers</label>
          </div>
          <div class="input-field">
            <input id="show_program_sites" type="checkbox" name="show" value="p"{% if "p" in show %} checked{% endif %}>
            <label for="show_program_sites">Program sites</label>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div>
          <span class="card-title">Locations</span>
          <div class="input-field">
            {% for location in all_locations %}
            <p>
              <input type="checkbox" id="location_{{ location.pk }}" name="locations" value="{{ location.pk }}"{% if location in locations %} checked{% endif %}>
              <label for="location_{{ location.pk }}">{{ location.nickname|default:location.name }}</label>
            </p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="submit-row">
      <input type="submit" class="btn" value="Update">
    </div>
  </form>
</div>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script>
  function initMap() {
    window._programMapMarkers = {};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4
    });

    /** Build JSON data **/
    var programs = [
    {% for program in programs %}
      {% with program.location as location %}{
        name: '{{ program.name }}',
        photo: '{% thumbnail program.default_photo 160x120 crop upscale %}',
        schedule: '{{ program.schedule_description }}',
        location: {
          name: '{{ program.location.nickname|default:program.location.name }}',
          id: {{ program.location.id }},
          address: '{{ location.address1 }} {{ location.address2 }}<br>{{ location.city }} {{ location.state }}, {{ location.postal_code }}',
          latlng: new google.maps.LatLng({{ location.geo.coords.0 }}, {{ location.geo.coords.1 }})
        }
      }{% if not forloop.last %},{% endif %}{% endwith %}
    {% endfor %}
    ];

    var students = [
    {% for student in students %}
      {% with student.account.default_contact as contact %}{
        name: '{{ student.name }}',
        address: '{{ contact.address1 }} {{ contact.address2 }}<br>{{ contact.city }} {{ contact.state }}, {{ contact.postal_code }}',
        latlng: new google.maps.LatLng({{ contact.geo.coords.0 }}, {{ contact.geo.coords.1 }})
      }{% if not forloop.last %},{% endif %}{% endwith %}
    {% endfor %}
    ];

    var volunteers = [
    {% for volunteer in volunteers %}
      {
        name: '{{ volunteer.name }}',
        address: '{{ volunteer.address1 }} {{ volunteer.address2 }}<br>{{ volunteer.city }} {{ volunteer.state }}, {{ volunteer.postal_code }}',
        latlng: new google.maps.LatLng({{ volunteer.geo.coords.0 }}, {{ volunteer.geo.coords.1 }})
      }{% if not forloop.last %},{% endif %}
    {% endfor %}
    ];


    /** Use JSON data to build map **/

    var bounds = new google.maps.LatLngBounds();

    // volunteers
    for (i=0; i<volunteers.length; i++) {
      var volunteer = volunteers[i];
      volunteer.marker = new google.maps.Marker({
        position: volunteer.latlng,
        map: map,
        animation: google.maps.AnimationDROP,
        icon: 'http://maps.google.com/mapfiles/ms/icons/purple-dot.png'
      });
      (function(volunteer) {
        volunteer.marker.addListener('click', function() {
          var infoWindow = new google.maps.InfoWindow({
            content: volunteer.name
          });
          infoWindow.open(map, volunteer.marker);
        });
      })(volunteer);
      bounds.extend(volunteer.latlng);
    }

    // students
    for (i=0; i<students.length; i++) {
      var student = students[i];
      student.marker = new google.maps.Marker({
        position: student.latlng,
        map: map,
        animation: google.maps.AnimationDROP,
        icon: 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png'
      });
      (function(student) {
        student.marker.addListener('click', function() {
          var infoWindow = new google.maps.InfoWindow({
            content: student.name
          });
          infoWindow.open(map, this);
        });
      })(student);
      bounds.extend(student.latlng);
    }

    // locations
    var locations = {};
    for (var i=0; i<programs.length; i++) {
      var locationId = programs[i].location.id;
      if (!locations[locationId]) {
        locations[locationId] = {
          programs: [],
          address: programs[i].location.address,
          latlng: programs[i].location.latlng,
          marker: null
        }
      }
      locations[locationId].programs.push(programs[i]);
    }
    for (var locationId in locations) {
      var location = locations[locationId];
      location.marker = new google.maps.Marker({
        position: location.latlng,
        map: map,
        animation: google.maps.Animation.DROP,
        icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
      });
      (function(location) {
        location.marker.addListener('click', function() {
          var infoWindow = new google.maps.InfoWindow({
            content: location.name
          });
          infoWindow.open(map, location.marker);
        });
      })(location);
      bounds.extend(location.latlng);
    }


    map.fitBounds(bounds);
    google.maps.event.addDomListener(window, 'resize', function() {
      map.setCenter(bounds.getCenter());
    });
    var mapReady = new CustomEvent('program-map-ready', {
      detail: locations
    });
    $('#map')[0].dispatchEvent(mapReady);
  }
  $(document).ready(function() {
    $('select').material_select();
  });
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4Gw6lcyXcMCzM5shjKQK9a0CJlpyu6Bk&callback=initMap"></script>
{% endblock %}

