{% extends "admin/base_site.html" %}
{% load i18n admin_static material_admin %}

{% block extrastyle %}
<style>
  .card {
    margin: 1rem;
  }
  .size-counts {
    min-width: 400px;
  }
  .size-counts th {
    font-weight: 500;
  }
  .size-counts .total {
    font-weight: bold;
  }
  .card .card-content p {
    margin: 1em 0;
  }
</style>
{% endblock %}

{% block title %}T-shirts: {{ semester|title }} {{ year }}{% endblock %}

{% block brand-logo %}T-shirts: {{ semester|title }} {{ year }}{% endblock %}

{% block breadcrumbs_items %}
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
<a class="active" href="{% url 'admin:tshirts' %}">T-shirts</a>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-content">
    <div class="card-title">{{ semester|title }} {{ year }} Shirt Sizes</div>
    <table class="size-counts bordered highlight">
      <thead>
        <tr>
          <th>Size</th>
          <th>Students</th>
          <th>Volunteers</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for row in counts %}
        <tr>
          <th scope="row">{{ row.size }}</td>
          <td>{{ row.students }}</td>
          <td>{{ row.volunteers }}</td>
          <td class="total">{{ row.total }}</td>
        </tr>
        {% endfor %}
        <tr>
          <th scope="row">Totals</th>
          <td class="total">{{ totals.students }}</td>
          <td class="total">{{ totals.volunteers }}</td>
          <td class="total">{{ totals.total }}</td>
      </tbody>
    </table>
    <p class="right-align">
      <a class="btn" href="{% url "admin:tshirts-download" %}">Download T-shirt Roster</a>
    </p>
  </div>
</div>
{% endblock %}
