{% load static %}
{% load compress %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% compress css %}
<link href="{% static 'material/fonts/material-design-icons/material-icons.css' %}" rel="stylesheet">
<link type="text/x-scss" href="{% static 'material/sass/materialize.scss' %}" rel="stylesheet">
<link type="text/x-scss" href="{% static 'material/sass/materialize.forms.scss' %}" rel="stylesheet">
<link href="{% static 'material/css/jquery.datetimepicker.css' %}" rel="stylesheet">
<link href="{% static 'material/css/responsive.dataTables.css' %}" rel="stylesheet">
<link href="{% static 'material/css/fixedHeader.dataTables.css' %}" rel="stylesheet">
<link href="{% static 'material/css/perfect-scrollbar.css' %}" rel="stylesheet" />
{% endcompress %}
