{% if has_errors %}
<ul class="errorlist{% if non_field_erros %} non-field-errors{% endif %}{% if field_errors %} field-errors{% endif %}">
{% for err in non_field_errors %}
  <li class="non-field-error">{{ err }}</li>
{% endfor %}
{% if required_field_errors and not show_required_fields %}
  <li class="required-fields-error">Please complete all required fields.</li>
{% endif %}
{% for field, error in field_errors %}
{% if field in required_field_errors %}
  <li class="field-error required-error">{{ field.label }} is required</li>
{% else %}
  <li class="field-error">{{ error }}</li>
{% endif %}
{% endfor %}
</ul>
{% endif %}
