{% block nav_links %}
{% load i18n %}
<li>
  <a href="/">
      <i class="material-icons left">home</i> {% trans "Home" %}
  </a>
</li>
{% endblock %}
{% if user.is_authenticated %}
{% block user_links %}
<li>
  <a href="{% url "logout" %}">
    <i class="material-icons left">exit_to_app</i>
    {% trans "Log out" %}
  </a>
</li>
{% endblock %}
{% else %}
<li>
  <a href="{% url "login" %}">
    <i class="material-icons left">account_circle</i>
    {% trans "Log in" %}
  </a>
</li>
{% endif %}
