{% load static compress %}
<link rel="import" href="{% static "components/paper-date-picker/paper-date-picker.html" %}">
<link rel="import" href="{% static "components/paper-time-picker/paper-time-picker.html" %}">
<link rel="import" href="{% static "components/paper-dialog/paper-dialog.html" %}">
<link rel="import" href="{% static "components/paper-button/paper-button.html" %}">

{% with compress_extra=" is='custom-style'" %}
{% compress css inline %}
<style type="text/x-scss">
  @import "material/sass/variables";
  :root {
    /* TODO: figure out how to get this to read scss variables */
    --default-primary-color: $primary-color;
  }
</style>
{% endcompress %}
{% endwith %}

<style is="custom-style" include="paper-date-picker-dialog-style">
  section {
    margin: 24px;
  }
</style>
<style is="custom-style" include="paper-time-picker-dialog-style">
  section {
    margin: 24px;
  }
</style>

<paper-dialog id="datePickerDialog" class="paper-date-picker-dialog" modal unresolved>
  <paper-date-picker id="picker"></paper-date-picker>
  <div class="buttons">
    <paper-button dialog-dismiss>Cancel</paper-button>
    <paper-button dialog-confirm>OK</paper-button>
  </div>
</paper-dialog>

<paper-dialog id="timePickerDialog" class="paper-time-picker-dialog" modal unresolved>
  <paper-time-picker id="picker"></paper-time-picker>
  <div class="buttons">
    <paper-button dialog-dismiss>Cancel</paper-button>
    <paper-button dialog-confirm>OK</paper-button>
  </div>
</paper-dialog>
