{% extends "hive/base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="section">

    <p>{% trans "You have been successfully logged out." %}</p>

    <p><a href="{% url "login" %}">{% trans 'Log in again' %}</a></p>

  </div>
</div>

{% endblock %}
