{% extends "hive/base.html" %}

{% block content %}
<div class="container">
  <div class="section">

    {% if user.is_authenticated %}
    <p>You are already logged in as {{ user.email }}</p>
    {% else %}

    <div class="row">
      <div class="col s12 m6">
        <form class="card" method="POST" action=".">
          <div class="card-content">
            <span class="card-title">Log In</span>
            {% if form.non_field_errors %}
            <p class="error">{{ form.non_field_errors }}</p>
            {% endif %}
            {% csrf_token %}
            <div class="input-field">
              <i class="material-icons prefix">account_circle</i>
              {{ form.username }}
              {{ form.username.label_tag }}
            </div>
            <div class="input-field">
              <i class="material-icons prefix">lock</i>
              {{ form.password }}
              {{ form.password.label_tag }}
            </div>
            {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
            <a href="{% url "password_reset" %}">Forgot password?</a>
          </div>
          <div class="card-action">
            <input type="submit" class="btn" value="Log in">
          </div>
        </form>
      </div>

      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">New user?</span>
          </div>
          <div class="card-action">
            <p>
              If this is your first time using this website, you'll need to create an account first.
            </p>
            <a href="{% url "create-account" %}{% if next %}?next={{ next }}{% endif %}" class="btn">Create an account</a>
          </div>
        </div>
      </div>
    </div>

    {% endif %}

  </div>
</div>
{% endblock %}
