{% extends "hive/base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container">
  <div class="section">
    <h4>{{ title }}</h4>

    <form method="post" class="card-panel">
      {% csrf_token %}
      {% if form.errors %}
      <p class="error">
        Login failed. Please check your email and password and try again.
      </p>
      {% endif %}

      <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

      <div class="row">
        <div class="input-field col s6">
          {{ form.old_password }}
          {{ form.old_password.label_tag }}
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          {{ form.new_password1 }}
          {{ form.new_password1.label_tag }}
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          {{ form.new_password2 }}
          {{ form.new_password2.label_tag }}
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <input class="btn" type="submit" value="{% trans 'Change my password' %}" class="default" />
        </div>
      </div>

    </form>

  </div>
</div>

{% endblock %}
