{% extends "hive/base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="section">
    <h4>{{ title }}</h4>

    {% if validlink %}

    <form method="post" class="card-panel">
      <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s6">
          {{ form.new_password1 }}
          <label for="{{ form.new_password1.id_for_label }}">{% trans "New password:" %}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          {{ form.new_password2 }}
          <label for="{{ form.new_password2.id_for_label }}">{% trans "New password:" %}</label>
        </div>
      </div>
      <div class"row">
        <div class="col s6">
          <input class="btn" type="submit" value="{% trans "Change my password" %}" />
        </div>
      </div>
    </form>

    {% else %}

    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}

{% endblock %}
