{% extends "hive/base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="section">
    <h4>{{ title }}</h4>


    <form method="post" class="card-panel">
      {% csrf_token %}
      <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
      {{ form.email.errors }}
      <div class="row">
        <div class="input-field col s6">
          {{ form.email }}
          <label for="id_email">{% trans 'Email address:' %}</label>
        </div>
      </div>
      <input class="btn" type="submit" value="{% trans 'Reset my password' %}" />
    </form>
  </div>
</div>
{% endblock %}
