{% extends "hive/base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="section">
    <h4>{{ title }}</h4>

    <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

    <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

  </div>
</div>

{% endblock %}
