{% extends "hive/base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="section">
    <h4>{{ title }}</h4>
    <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
    <p><a class="btn" href="{{ login_url }}">{% trans "Log in" %}</a></p>
  </div>
</div>
{% endblock %}
