.side-nav.fixed li {
  line-height: 50px;
}
.side-nav.fixed .collapsible-body li a {
  padding-left: 40px;
}

.file-field .btn {
  float: right;
  padding: 0 16px;
}
.file-field .file-path-wrapper {
  padding-left: 0;
  padding-right: 10px;
}

input.file-path::-webkit-input-placeholder {color: #9e9e9e; }
input.file-path:-moz-placeholder {color: #9e9e9e; }
input.file-path::-moz-placeholder {color: #9e9e9e; }
input.file-path:-ms-input-placeholder {color: #9e9e9e; }
