<h5>Our Expectations for Volunteers</h5>

<p>
  Bold Idea does not discriminate any qualified individual based on race, color,
  ethnicity, sex, creed, national origin, socioeconomic status or disabilities
  as defined by the Americans with Disabilities Act. However, volunteers must be
  able to fulfill their job responsibilities.
</p>

{% if working_with_minors %}
<p>
  Positive adult role models are essential to fulfilling the purpose of Bold
  Idea. Volunteers are to set examples for students through attitudes,
  appearances and actions. The following expectations are intended to ensure
  that the health and safety of students is primary while we provide them with
  the opportunity to gain new skills and to learn about and appreciate computer
  science.
</p>

<ul class="browser-default">
	<li>Each volunteer must complete a volunteer application and a Criminal Background Check. (performed by Bold Idea) once a year.</li>
	<li>Each volunteer must attend an orientation when they begin volunteering.</li>
	<li>Appointment of volunteers will be based upon maturity of judgement.</li>
	<li>While subject matter experience is useful, volunteer mentors are not required to be professional programmers or hold computer science degrees.</li>
</ul>

<h6>Student Safety</h6> 
<ul class="browser-default">
	<li>Never isolate yourself with a child.</li> 
	<li>Be conscious of their online safety and privacy.</li>
	<li>Ensure students are supportive of one another, rather than condescending.</li>
	<li>Never express frustration with a child by yelling or using physical force.</li>
</ul>

<h6>Focus on Students</h6>
<ul class="browser-default">
	<li>Don’t use the time with students to catch up on work or chat on your phone.</li>
	<li>Keep your attention on the students.</li>
	<li>Ensure what you say is appropriate for students to hear.</li>
	<li>Be fully invested and engaged in the student's’ learning process. Be their champion!</li>
  <li>Be a good example by working collaboratively and respectfully with your fellow mentors</li>
</ul>

<h6>Punctuality and Attendance</h6>
<ul class="browser-default">
  <li>If you've committed to multiple sessions, be present for no less than 75% of those sessions</li>
	<li>Arrive on time (at least 15 minutes early for program sessions) and stay for the duration.</li>
	<li>Let others know if you are unable to attend a program session, with as much advance notice as possible.</li>
  <li>If you cannot make it to a session, secure a replacement by contacting other volunteers in our network.</li>
</ul>

<h6>Preparation and Readiness</h6>
<ul class="browser-default">
  <li>Review the program content before your session</li>
  <li>Come prepared to worth with your student team and fellow mentors</li>
</ul>

<h6>Personal Vehicle Policy</h6>
<ul class="browser-default">
	<li>Volunteers may not take students into their personal vehicles.</li>
</ul>
{% endif %}
 
<h6>Be Courteous, Respectful and Dignified</h6>
<p>
  Bold Idea is committed to creating an environment in which relationships
  between volunteers, leadership, partners, parents and students are
  characterized by dignity, respect and equitable treatment. As a result,
  volunteers who consistently interact with students, staff or parents
  disrespectfully will be removed as volunteers.
</p>

<h6>Termination &amp; Grievance Procedures</h6>
{% if working_with_minors %}
<p>
   The health, safety and well-being of our students is of primary concern.
   Therefore, any volunteer who endangers a child or does not abide by volunteer
   expectations, state laws, etc. may be terminated from their position.
</p>
{% else %}
<p>
  Any volunteer who does not abide by volunteer expectations, state laws, etc.
  may be terminated from their position.
</p>
{% endif %}
<p>
	Should a grievance or conflict situation arise, it is hoped that these will be
	resolved through informal means between the adult parties. If not, Bold Idea
	staff should be notified and allowed to deal with the issue appropriately.  
</p>

<h6>Media Release</h6>
<p>
  I understand that when participating in Bold Idea activities, I may be
  photographed for print, video, or electronic imaging. I understand that the
  images may be used in promotional materials, news releases, and other formats
  for Bold Idea. I acknowledge that any images will be the sole property of Bold
  Idea.
</p>
