{% load thumbnail %}
<div class="program card-panel z-depth-1{% if selectable and program.remaining_volunteers_needed > 0 %} hoverable selectable{% endif %}"
  data-program-id="{{ program.id }}" 
  data-location-id="{{ program.location.id }}"
  {% if select_multiple %} data-select-multiple="true"{% endif %}>
  {% if select_multiple and selectable %}
  <div class="checkbox"> 
    <input type="checkbox" name="program" value="{{ program.pk }}" id="id_program_{{ program.pk }}"{% if not selectable %} disabled="disabled"{% endif %}>
    <label for="id_program_{{ program.pk }}"></label>
  </div>
  {% endif %}
  <div class="img">
    {% if program.remaining_volunteers_needed <= 0 %}
    <img src="{% thumbnail program.default_photo 140x100 crop upscale bw %}" class="responsive-img">
    {% else %}
    <img src="{% thumbnail program.default_photo 140x100 crop upscale %}" class="responsive-img">
    {% endif %}
  </div>
  <div class="info">
    <p class="program-name">
      <strong>{{ program.name }}</strong>
      {% if program.location.city %}({{ program.location.city }}){% endif %}
    </p>
    {% if program.age_range_description %}
    <p class="age-range-description">
      {{ program.age_range_description }}
    </p>
    {% endif %}
    <p class="schedule">
      <a class="view-schedule modal-trigger" href="#scheduleModal{{ program.pk }}" title="View full schedule">
        <span><i class="material-icons left">event</i> {{ program.schedule_description }}</span>
        - 
        <span>starting {{ program.start_date|date:"M j" }}</span>
      </a>
    </p>
    {% if program.remaining_volunteers_needed is not None %}
    <p class="status">
      <em>
        {% if program.remaining_volunteers_needed <= 0 %}
        All volunteer spots have been filled for this location.
        {% else %}
        <strong>{{ program.remaining_volunteers_needed }}</strong> more volunteer{{ program.remaining_volunteers_needed|pluralize }} needed!
        {% endif %}
      </em>
    </p>
    {% endif %}
  </div>
</div>
{% with show_all_sessions=True show_checkbox=False %}
{% include "programs/includes/program_schedule_modal.html" %}
{% endwith %}
