{% load markdown %}
{% comment %}

IMPORTANT:
---------
This is used in the confirmation page as well as the confirmation email.
Be sure to also update signup_complete.txt

{% endcomment %}
<p>
  Volunteer mentors are the heart of Bold Idea’s tech education programs. With you as their champion, our young
  coders can be successful on their project teams, in school and beyond. 
</p>
{% if requirements|length > 0 %}
<h4>Additional Requirements</h4>
<p>
  The following additional requirement(s) must be completed before attending your first session:
</p>
{% for requirement in requirements %}
<h5>➤ {{ requirement.name }}</h5>
{{ requirement.instructions|markdown }}
{% endfor %}
{% endif %}
{% if training_sessions|length > 0 %}
<h4>Semester Kickoff Sessions</h4>
<p>
  All program volunteers are required to attend a semester kickoff session. You
  will meet the other volunteers you will be working with, get some hands-on
  experience with new curriculum, and gain insights on effective mentoring.
</p>
{% for session in training_sessions.all %}
<p>
  <h5>➤ {{ session.name }}</h5>
  <strong>When:</strong> {{ session.date_description }}<br>
  {% with session.location as location %}
  <strong>Where:</strong> {{ location.name }}<br>
  <a target="_blank" href="https://maps.google.com/maps/place/{{ location.address1 }},+{{ location.city }},+{{ location.state }}+{{ location.postal_code }}">
    {{ location.address1 }} {{ location.address2 }}<br>
    {{ location.city }}, {{ location.state }} {{ location.postal_code }}
  </a>
  {% endwith %}
</p>
{% endfor %}
{% endif %}

<hr>
<p>
  You can find all other info about your program locations on the <a href="/">Hive Volunteer Dashboard</a>.
</p>

{% if signup.opportunity.confirmation_extra_info %}
{{ signup.opportunity.confirmation_extra_info|markdown }}
{% endif %}

<p>
If you have any further questions, please contact:
</p>
<p>
  {% include "hive/includes/contact.html" %}
</p>

<strong><em>Welcome to the team!</em></strong>
