{% extends "courses/base.html" %}
{% load static %}

{% block extracss %}
<style>
  .exit-tickets .score {
    width: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: left;
  }
  .exit-tickets .star {
    position: relative;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0);
  }
  .exit-tickets .star:before {
    position: absolute;
    top: 1px;
    left: 1px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    content: '★';
    font-weight: bold;
    color: white;
  }
  .exit-tickets .star.correct:before {
    color: yellow;
  }
  .exit-tickets .action {
    text-align: right;
  }
</style>
{% endblock %}

{% block page_content %}
<h3>{{ program.course.name }}</h3>

<h5>Exit Tickets</h5>

<table class="exit-tickets">
  <thead>
    <tr>
      <th>Session</th><th>Score</th><th class="action">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for exit_ticket, student_ticket in exit_tickets %}
    <tr>
      <td>Session #{{ exit_ticket.session_number }}</td>
      <td>
        {% if student_ticket %}
        <div class="score">
        {% for question in student_ticket.results|dictsortreversed:"is_correct" %}
          {% if question.is_correct %}
          <span class="star correct">★</span>
          {% else %}
          <span class="star incorrect">☆</span>
          {% endif %}
        {% endfor %}
        </div>
        {% else %}
        (not taken)
        {% endif %}
      </td>
      <td class="action">
        {% if not student_ticket or student_ticket.can_retake or student_ticket.can_view_answers %}
        <a class="btn" href="{% url "courses-session" program_id=program.id session_number=exit_ticket.session_number %}">
          {% if student_ticket.can_view_answers %}
            View
          {% elif student_ticket %}
            Re-take
          {% else %}
            Take
          {% endif %}
        </a>
        {% else %}
        <a class="btn disabled">Re-take</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
