{% extends "courses/base.html" %}
{% load static thumbnail %}

{% block page_content %}

<h3>My Courses</h3>
<div class="row">
  {% for program in programs %}
  <div class="col s12 m6 l4">
    <div class="card">
      <a class="card-image" href="{% url "courses-course" program_id=program.id %}">
        <img class="activator" src="{% thumbnail program.default_photo 400x225 crop upscale %}">
        <span class="card-title">{{ program.name }}</span>
      </a>
      <div class="card-content">
        {% if program.sessions.count > 1 %}
        <p>{{ program.first_session.date|date:"N j" }} - {{ program.last_session.date|date:"N j" }} (<a class="modal-trigger" href="#scheduleModal{{ program.pk }}">view schedule</a>)</p>
        {% with show_all_sessions=True %}
        {% include "programs/includes/program_schedule_modal.html" %}
        {% endwith %}
        {% endif %}

        {% if program.schedule_description %}
        <p>{{ program.schedule_description }}</p>
        {% endif %}

        {% with program.location as location %}
        {% if location.address1 %}
        <p>
          <a href="https://www.google.com/maps/place/{{ location.address1 }}+{{ location.address2 }},+{{ location.city }}+{{ location.state }},+{{ location.zip }}" target="_blank">
            {{ location.address1 }}{% if location.address2 %}, {{ location.address2 }}{% endif %}
            {% if location.city %}{{ location.city }}, {{ location.state }} {{ location.postal_code }}{% endif %}
          </a>
        </p>
        {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:3 %}
</div>
<div class="row">
  {% endif %}
  {% empty %}
  <div class="col s12">
    <p>Hmm, it doesn't look like you're signed up for any courses!</p>
  </div>
  {% endfor %}
</div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  (function($) {
    $(document).ready(function() {
      $('.modal').modal();
    });
  })(jQuery);
</script>
{% endblock %}
