{% extends "courses/base.html" %}
{% load markdown exit_ticket_tags static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static "courses/exit-ticket-results.css" %}">
<style>
  .exit-ticket label {
    color: #333;
  }
  .exit-ticket .question p em {
    color: #ff9800;
  }
</style>
{% endblock %}

{% block page_content %}
<h3>{{ program.course.name }}</h3>
{% if exit_ticket %}
  {% if student_ticket and student_ticket.can_view_answers %}

  <p>Thanks for submitting your exit ticket! Your results are below. If you have any questions, ask your mentor!</p>
  <p><strong>Please remember to log out!</strong></p>
  <p>
    <a class="btn" href="{% url "logout" %}">Log Out</a>
  </p>
  <h5>Your Score: {{ student_ticket.num_correct }} / {{ student_ticket.num_questions }}</h5>
  {% with student_ticket.results as exit_ticket_results %}
  {% include "courses/includes/exit_ticket_results.html" %}
  {% endwith %}

  {% elif student_ticket and not student_ticket.can_retake %}
  <p>
    The answers for this exit ticket are currently not viewable.
    You can re-take this exit ticket after one day.
  </p>
  <p>
    <a class="btn" {% url "logout" %}>Log Out</a>
  </p>
  {% else %}
  <h4>Exit Ticket - Session {{ session.number }} - {{ session.date|date }}</h4>
  <form method="post" action="." class="exit-ticket">{% csrf_token %}
    {% for question in questions %}
    <div class="row question">
      <div class="card-panel col s12">
        <h5>{{ forloop.counter }}: {{ question.question_text|format_first_line }}</h5>
        {{ question.question_text|format_extra_lines }}
        <ul>
          {% for c, choice in question.choices_list|randomize_choices %}
          <li>
            {% with question.pk as q %}
            <input {% if question.multiple_choice %}type="checkbox"{% else %}type="radio"{% endif %}
              name="question_{{ q }}" value="{{ c }}"
              id="id_question_{{ q }}_{{ c }}"
              {% if c in question.answer %}checked{% endif %}> 
            <label for="id_question_{{ q }}_{{ c }}">{{ choice|markdown:True }}</label>
            {% endwith %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
    <div class="row">
      <div class="col s12 submit-row">
        <button class="btn" type="submit">Submit</button>
      </div>
    </div>
  </form>
  {% endif %}
{% endif %}
{% endblock %}
