{% extends "courses/base.html" %}

{% block page_content %}
  <div class="section">

    {% if user.is_authenticated %}
    <p>You are already logged in as {{ user.email }}</p>
    {% else %}
    <p>
      Log in with your <strong>@teams.boldidea.org</strong> Google account:
    </p>
    <p>
      <a class="btn" href="{% url "social:begin" "google-oauth2" %}">Log in</a>
    </p>
    {% endif %}

  </div>
{% endblock %}

