{% extends "admin/change_form.html" %}
{% load static %}
{% block extrahead %}{{ block.super }}
<style>
  /* prevent FOUC */
  [data-formset-form] {
    display: none;
  }
</style>
<script type="text/javascript" src="{% static "questionnaires/js/admin_form.js" %}"></script>
{% endblock %}
