{% load material_tags %}

<div class="questionnaire-field checkbox">

  <p>
    <label class="checkbox-list-label">
      {{ question.question_text }}{% if question.required %}<span class="required">*</span>{% endif %}
    </label>
  </p>

  <ul class="checkbox-list component">
    {% for choice in field %}
    <li>
      <input type="radio"
             name="{{ choice.data.name }}"
             value="{{ choice.data.value }}"
             id="{{ choice.data.attrs.id }}"
             {% if choice.data.value in field.value %}checked{% endif %}
             {% for k, v in choice.data.attrs.items %}{{ k }}="{{ v }}"{% endfor %}>
      <label for="{{ choice.data.attrs.id }}">{{ choice.choice_label }}</label>
    </li>
    {% endfor %}
  </ul>

</div>
