{% extends "admin/change_form.html" %}
{% load hive_admin_tags markdown thumbnail material_form material_admin %}

{% block change_form %}
{% with original as obj %}
<style>
  table.key-value td,
  table.key-value th {
    padding: 4px;
    vertical-align: top;
  }
  table.key-value th[scope="row"] {
    width: 1%;
    white-space: nowrap;
    font-weight: bold;
  }
  .readonly-fields .row {
    margin-bottom: 8px;
  }
  .change-form h4.form-title {
    margin-top: 32px;
  }
  .change-form .suffix {
    padding-right: 10px;
    padding-left: 0;
  }
  td.field-date .input-field > div {
    width: 160px;
  }
  [data-formset-prefix="background_checks"] tr {
    display: flex;
  }
  .field-notes {
    flex: 1;
  }
  .field-date .suffix {
    display: none;
  }
  .field-status .radio-field div[id$=status_container] {
    display: flex;
  }
  .field-status .radio-field div[id$=status_container] .radio {
    padding-right: 10px;
  }
  .field-status .radio-field div[id$=status_container] .item-label {
    padding-left: 25px;
  }

  .status {
    display: inline-block;
    width: 70px;
    text-align: center;
    font-size: .8em;
    border-radius: 4px;
    padding: 0px 8px;
    margin-right: 8px;
  }
  .status.absent {
    background: #F44336;
    color: white;
  }
  .status.present {
    background: #9c27b0;
    color: white;
  }
</style>
<div class="readonly-fields">
  <div class="layout-row row">
    {% if obj.photo %}
    <div class="col s12 m6">
      <img class="circle responsive-img" src="{% thumbnail obj.photo "200x200" crop upscale %}">
    </div>
    {% endif %}
    <div class="col s12 m6">
      <table class="key-value">
        <tr>
          <th scope="row">Name:</th>
          <td>{{ obj }}</td>
        </tr>
        <tr>
          <th scope="row">Full legal name:</th>
          <td>{{ obj.full_legal_name }}</td>
        </th>
        <tr>
          <th scope="row">Birth Date:</th>
          <td>{{ obj.birth_date|date:"DATE_FORMAT" }}</td>
        </tr>
        <tr>
          <th scope="row">Email:</th>
          <td><a href="mailto:{{ obj.email }}">{{ obj.email }}</a></td>
        </tr>
      </table>
    </div>
    <div class="col s12 m6">
      <table class="key-value">
        {% if obj.company %}
        <tr>
          <th scope="row">Company:</th>
          <td>{{ obj.company }}</td>
        </tr>
        {% endif %}
        {% if obj.title %}
        <tr>
          <th scope="row">Title:</th>
          <td>{{ obj.title }}</td>
        </tr>
        {% endif %}
        <tr>
          <th scope="row">Address:</th>
          <td>
            {{ obj.formatted_address|linebreaks }}
          </td>
        </tr>
        {% if obj.phone %}
        <tr>
          <th scope="row">Phone:</th>
          <td>
            {{ obj.phone }}
          </td>
        </tr>
        {% endif %}
      </table>
    </div>
  </div>

  <h4 class="form-title black-text">Volunteer Signups</h4>
  <div class="layout-row">
    <div class="col s12 collection">
      {% for signup in obj.signups.all %}
      <a class="collection-item" href="{% url "admin:volunteers_volunteersignup_change" signup.pk %}">{{ signup }}</a>
      {% endfor %}
    </div>
  </div>

  {% if obj.extra_data.questionnaire %}
  <h4 class="form-title black-text">Questionnaire</h4>
  <div class="layout-row">
    <div class="col s12 collection">
      {% for key, question in obj.extra_data.questionnaire.items %}
      {% if question.value %}
      <div class="collection-item">
        <p><strong>{{ question.label }}:</strong></p>
        <div class="questionnaire-answer">
          {{ question.value|markdown }}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </diV>
  {% endif %}

  {% if obj.session_attendances.past.count > 0 %}
  <h4 class="form-title black-text">Past Session Attendance</h4>
  <div class="layout-row">
    <div class="col s12 collection">
      {% for attendance in obj.session_attendances.past %}
      <div class="collection-item">
        <span class="status {{ attendance.status|lower }} ">{{ attendance.status }}</span> {{ attendance.session.date }}: {{ attendance.session.program.name }}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

</div>


{% endwith %}

{% inline_fieldset_layout adminform inline_admin_formsets as layout %}
{% form form=adminform.form layout=layout %}{% endform %}

{% endblock %}

