{% extends "hive/base.html" %}

{% load static %}

{% block title %}<title>{{ page_title|default:"Hive" }}</title>{% endblock %}

{% block nav %}{% include "dashboard/includes/nav.html" %}{% endblock %}
{% block nav_mobile %}{% include "dashboard/includes/nav.html" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="section" id="page_content">
    {% block page_content %}
    {% endblock %}
  </div>
</div>
{% endblock %}

