{% extends "programs/base.html" %}
{% load material_tags %}

{% block page_content %}
<h4>Create a new account</h4>
<p>
  Use the form below to create a new account with Bold Idea. You'll only need to do the first time you register
  with Bold Idea.
</p>
<form method="POST" action=".">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          {% csrf_token %}
          <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            {{ form.email }}
            {% field_label form.email %}
          </div>
          <div class="input-field">
            <i class="material-icons prefix">lock</i>
            {{ form.password1 }}
            {% field_label form.password1 %}
          </div>
          <div class="input-field">
            <i class="material-icons prefix"></i>
            {{ form.password2 }}
            {% field_label form.password2 "Confirm password" %}
          </div>
        </div>
        <div class="card-action">
          <input type="submit" value="Submit" class="btn">
          {% if next %}
          <input type="hidden" name="next" value="{{ next }}">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
