{% extends "dashboard/base.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static "courses/exit-ticket-results.css" %}">
<style>
  .session-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .session-nav .exit-ticket-heading {
    flex: 1;
    text-align: center;
  }
</style>
{% endblock %}

{% block page_content %}
<h4>Exit Ticket Answers</h4>

<div class="row">
  <div class="col s12 session-nav">
    {% if prev_url %}
    <a class="prev btn btn-flat waves-effect" href="{{ prev_url }}"><i class="material-icons">navigate_before</i></a>
    {% endif %}
    <h5 class="exit-ticket-heading">{{ exit_ticket }}</h5>
    {% if next_url %}
    <a class="next btn btn-flat waves-effect" href="{{ next_url }}"><i class="material-icons">navigate_next</i></a>
    {% endif %}
  </div>
</div>

{% with preview_answers=True show_stats=True %}
{% include "courses/includes/exit_ticket_results.html" %}
{% endwith %}
{% endblock %}

