{% extends "dashboard/base.html" %}
{% load static markdown %}

{% block extracss %}
<style>
  .row.programs {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .row.programs .col {
    margin-left: 0;
  }

  .requirements a {
    color: ;
  }
  .requirements .status-badge {
    font-size: .8em;
    border-radius: 1em;
    margin-left: 10px;
    padding: 4px 8px;
    color: white;
    background-color: #757575;
  }
  .requirement-incomplete .status-badge {
    background-color: #d84315;
  }
  .requirement-processing .status-badge {
    background-color: #2196F3;
  }
</style>
{% endblock %}

{% block page_content %}
	<div class="section">
    {% if requirements|length > 0 %}
    <h4>Pending Requirements</h4>
    <p>
      The following requirements are still pending. All requirements must be completed before your first
      session. Click a requirement below for more information.
    </p>
    <div class="collection requirements">
      {% for requirement in requirements %}
      <a href="#requirement-{{ requirement.id }}" class="collection-item modal-trigger requirement-{{ requirement.status|lower }}">
        {{ requirement.name }} <span class="status-badge">{{ requirement.get_status_display }}</span>
      </a>
      {% endfor %}
    </div>
    {% for requirement in requirements %}
    <div class="modal" id="requirement-{{ requirement.id }}">
      <div class="modal-content">
        <h4>{{ requirement.name }}</h4>
        {{ requirement.instructions|markdown }}
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn flat">Close</a>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    {% if training_sessions|length > 0 %}
    <h4>Upcoming Semester Kickoff Sessions</h4>
    <p>Mentors are required to attend at least one kickoff session per semester.</p>
    <div class="collection">
      {% for session in training_sessions %}
      <a class="collection-item" href="{% url "dashboard-training-session" session_id=session.id %}">
        {{ session.name }} - {{ session.date|date:"N j" }}, {{ session.start_time|date:"P" }}
      </a>
      {% endfor %}
    </div>
    {% endif %}

    {% if show_all_programs %}
      <h4>All Program Sites</h4>
      <div class="row programs">
        {% for program in programs %}
        <div class="col s12 m6 xl4">
          {% include "dashboard/includes/program_site_card.html" %}
        </div>
        {% endfor %}
      </div>
    {% elif assignments|length > 0 %}
      <h4>My Programs</h4>
      {% regroup assignments by role as assignments_by_role %}
      {% for role in assignments_by_role %}
      <h5>{{ role.grouper|title }}</h5>
      <div class="row programs">
        {% for assignment in role.list %}
        <div class="col s12 m6 xl4">
          {% with assignment.program as program %}
          {% include "dashboard/includes/program_site_card.html" %}
          {% endwith %}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    {% endif %}

    {% if show_all_sessions %}
    <div class="row">
      <a href="{% url "dashboard-training-sessions-index" %}" class="btn">View past kickoff sessions</a>
    </div>
    {% endif %}
    <div class="row">
      <h4>Volunteer Opportunities</h4>
      <p>
        Click below to see our volunteer opportunities!
      </p>
      <p>
        <a class="btn" href="{% url "volunteers-opportunities" %}">Sign Up</a>
      </p>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  (function($) {
    $(document).ready(function() {
      $('.modal').modal();
      $('tr[data-url]').on('click', function(event) {
        window.location.href = $(this).data('url');
      });
    });
  })(jQuery);
</script>
{% endblock %}
