{% extends "dashboard/base.html" %}
{% load thumbnail static markdown dashboard_tags exit_ticket_tags %}
{% block extracss %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "courses/exit-ticket-results.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "dashboard/program-site.css" %}">
{% endblock %}
{% block page_content %}
<h4>
  <span class="program-name">
    {{ program.name }}
  </span>
  {% if program.location_info or program.location.instructions %}
  <span class="location-info">
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn btn-flat modal-trigger" href="#locationInfoModal">Location Info</a>
  </span>
  {% endif %}
</h4>

{% if program.location_info or program.location.instructions %}
<!-- Location info modal -->
<div id="locationInfoModal" class="modal">
  <div class="modal-content">
    <h4>Location Info</h4>
    {{ program.location_info|default:program.location.instructions|markdown }}
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat">Close</a>
  </div>
</div>
{% endif %}

{% if program.coordinator %}
<h5 class="coordinator">
  Site coordinator:
  <a href="{% url "dashboard-volunteer-details" volunteer_id=program.coordinator.id %}" title="You may contact your site coordinator on Slack if you have any questions.">
   {{ program.coordinator }}
  </a>
</h5>
{% endif %}

<div class="row">
  <div class="col s12 session-nav">
    {% if prev_session %}
    <a class="prev btn btn-flat waves-effect" href="{% url "dashboard-program-site" program_id=program.id session_id=prev_session %}"><i class="material-icons">navigate_before</i></a>
    {% endif %}
    <h5 class="session-heading">
      {{ session.date|date:"DATE_FORMAT" }}{% if session.description %} - {{ session.description }}{% endif %}
    </h5>
    {% if next_session %}
    <a class="next btn btn-flat waves-effect" href="{% url "dashboard-program-site" program_id=program.id session_id=next_session %}"><i class="material-icons">navigate_next</i></a>
    {% endif %}
  </div>
</div>

<ul class="tabs tabs-fixed-width component">
  <li class="tab"><a href="#attendance">Attendance</a></li>
  {% if exit_ticket %}
  <li class="tab"><a href="#exitTickets">Exit Tickets</a></li>
  {% endif %}
</ul>

<div id="attendance" class="tab-content">
  <form method="post" action=".">{% csrf_token %}
    <div class="row">
      <div class="col s12 m12 l6">
        <ul class="component collection with-header z-depth-1">
          <li class="collection-header"><h5>Mentors</h5></li>
          {% for id, attendance in volunteer_attendances.items %}
          {% attendance_item attendance %} 
          {% endfor %}
          <li class="collection-item btn-row">
            <button type="button" class="btn btn-flat dropdown-button" data-activates="otherVolunteerDropdown">
              Add Volunteer <i class="material-icons right">arrow_drop_down</i>
            </button>
            <ul id="otherVolunteerDropdown" class="dropdown-content">
              {% for volunteer in other_volunteers %}
              <li>
                <a href="#!" class="add-volunteer" data-volunteer-id="{{ volunteer.id }}">{{ volunteer }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
        <script type="text/template" id="otherVolunteerTemplate">
          {% attendance_item_template "volunteer" %} 
        </script>
      </div>
      <div class="col s12 m12 l6">
        {% if student_attendances|length %}
        <ul class="component collection with-header z-depth-1">
          <li class="collection-header"><h5>Students</h5></li>
          {% for id, attendance in student_attendances.items %}
          {% attendance_item attendance %}
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
    <div class="right-align">
      <input class="btn" type="submit" value="Save Attendance">
    </div>
  </form>
</div>

{% if exit_ticket %}
<div id="exitTickets" class="tab-content">
  {% if exit_ticket.student_results.count > 0 %}
  <table>
    <thead>
      <tr><th>Student</th><th>Score</th></tr>
    </thead>
    <tbody>
      {% for ticket in student_exit_tickets %}
      <tr>
        <td>
          <a href="#exitTicketResult{{ ticket.pk }}" class="modal-trigger">
            {{ ticket.student }}
          </a>
        </td>
        <td>{{ ticket.num_correct }} / {{ ticket.num_questions }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  <div class="exit-ticket-actions">
    <a class="btn" href="{% url "dashboard-exit-ticket-answers" program_id=program.id exit_ticket_id=exit_ticket.id %}">
      View Answer Sheet
    </a>
  </div>
</div>
{% endif %}

{% for ticket in student_exit_tickets %}
<div class="modal student-exit-ticket" id="exitTicketResult{{ ticket.pk }}">
  <div class="modal-content">
    <h4>{{ ticket.student }}</h4>
    <h5>Your Score: {{ ticket.num_correct }} / {{ ticket.num_questions }}</h5>
    {% with ticket.results as exit_ticket_results %}
    {% include "courses/includes/exit_ticket_results.html" %}
    {% endwith %}
  </div>
</div>
{% endfor %}

{% endblock %}

{% block extrajs %}
{{ block.super }}
<script type="text/javascript">
// other-volunteers functionality
window.VOLUNTEERS = {
  {% for volunteer in program.volunteers.all %}
  {{ volunteer.id }}: {
    name: '{{ volunteer.name }}',
    url: '{% url "dashboard-volunteer-details" volunteer_id=volunteer.id %}',
    {% if volunteer.photo %}
    photo: '{% thumbnail volunteer.photo 42x42 crop %}'
    {% else %}
    photo: '{% static "hive/images/generic-user.png" %}'
    {% endif %}
  }{% if not forloop.last %},{% endif %}
  {% endfor %}
};
</script>
<script src="{% static "dashboard/program-site.js" %}"></script>
{% endblock %}
