{% extends "dashboard/base.html" %}
{% block extracss %}
{{ block.super }}
<style>
  .clip:hover {
    background-color: #ccc;
    border-radius: 4px;
  }
  .modal.student-login h5 {
    margin-bottom: 1em;
  }
  .attendance.absent {
    color: #e53935;
  }
  tr.future, tr.future .attendance {
    background: #eee;
    color: #aaa;
  }
</style>
{% endblock %}
{% block page_content %}

<h4>{{ student }}</h4>
<div class="row">
  <div class="col s12">
    <p>
      <strong>Age:</strong> {{ student.age }}<br>
      <strong>Grade:</strong> {{ student.grade }}<br>
      {% if student.school %}
      <strong>School:</strong> {{ student.school }}
      {% endif %}
    </p>
  </div>
</div>


<h4>Contacts</h4>
<div class="row">
  <div class="col s12 m6">
    <div class="card-panel">
      <h5>
        {{ guardian }} ({{ guardian.relationship }})
      </h5>
      <p>
        {{ guardian.phone }}<br>
        {{ guardian.email }}
      </p>
    </div>
  </div>
</div>

{% if student.logins.count > 0 %}
<h4>Logins</h4>
<div class="row">
  <div class="col s12">
    <p>Click a login below to view the credentials.</p>
    <div class="collection">
      {% for login in student.logins.all %}
      <a href="#studentLogin{{ login.id }}" class="collection-item modal-trigger">{{ login.get_service_display }}</a>
      <div id="studentLogin{{ login.id }}" class="modal student-login">
        <div class="modal-content">
          <h5>{{ login.get_service_display }} Login for {{ login.student }}</h5>
          <div class="row credentials">
            <div class="col s12">
              <label for="id_username"><i class="material-icons left">account_circle</i>Username:</label>
              <input id="id_username" type="text" class="clip" readonly value="{{ login.username }}">
            </div>
            <div class="col s12">
              <label for="id_password"><i class="material-icons left">lock</i>Password:</label>
              <input id="id_password" type="text" class="clip" readonly value="{{ login.password }}">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect btn-flat">Close</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<h4>Attendance</h4>
<div class="row">
  <div class="col s12">
    {% regroup attendances by session.program as attended_programs %}
    {% for program_attendance in attended_programs %}
    <div class="card-panel">
      <h5>{{ program_attendance.grouper.name }}</h5>
      <table>
        <thead><tr><th>Session</th><th>Date</th><th>Status</th><th>Notes</th></tr></thead>
        <tbody>
          {% for attendance in program_attendance.list %}
          <tr{% if attendance.is_future %} class="future"{% endif %}>
            <td>{{ attendance.session.description }}</td>
            <td>{{ attendance.session.date }}</td>
            <td>
              <span class="attendance {{ attendance.status|lower }}">{{ attendance.get_status_display }}</span>
            </td>
            <td>{{ attendance.notes }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block extrajs %}
{{ block.super }}
<script>
  (function($) {
    $(document).ready(function() {
      $('.modal').modal();
      $('.clip').on('focus', function(e) {
        $(this).select();
        try {
          document.execCommand('copy');
          Materialize.toast('Copied to clipboard.', 1000);
        } catch (e) {
          Materialize.toast('Sorry, your browser does not support clipboard.', 3000);
        }
        try {
          window.getSelection().removeAllRanges();
        } catch (e) {
          try {
            document.selection.empty();
          } catch(e) {}
        }
      });
    });
  })(jQuery);
</script>
{% endblock %}

