{% extends "dashboard/base.html" %}

{% block extracss %}
<style>
  .collection-item {
    display: flex !important;
    flex-wrap: wrap;
  }
  .collection-item .datetime {
    width: 150px;
    min-width: 150px;
  }
</style>
{% endblock %}

{% block page_content %}
<div class="section sessions">
  <h4>Upcoming Training Sessions</h4>
  <div class="collection">
    {% for session in upcoming_sessions %}
    <a class="collection-item" href="{% url "dashboard-training-session" session_id=session.id %}">
      <span class="datetime">{{ session.date|date:"N j" }}, {{ session.start_time|date:"P" }}</span>
      <span class="name">{{ session.name }}</span>
    </a>
    {% empty %}
    <div class="collection-item">
      You have no upcoming training sessions.
    </div>
    {% endfor %}
  </div>
</div>

{% if past_sessions %}
<div class="section sessions">
  <h4>Past Training Sessions</h4>
  <div class="collection">
    {% for session in past_sessions %}
    <a class="collection-item" href="{% url "dashboard-training-session" session_id=session.id %}">
      <span class="datetime">{{ session.date|date:"N j" }}, {{ session.start_time|date:"P" }}</span>
      <span class="name">{{ session.name }}</span>
    </a>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
