{% extends "dashboard/base.html" %}
{% load markdown thumbnail static %}

{% block extracss %}
<style>
  .attendance-name label {
    width: 0;
  }
  .attendance-name {
    white-space: nowrap;
  }
</style>
{% endblock %}

{% block page_content %}
<h3>{{ session.name }}</h3>

<div class="card-panel">
  {% if session.description %}{{ session.description|markdown }}{% endif %}
  <p>
    <strong>Date:</strong> {{ session.date_description }}
  </p>
  {% with session.location as location %}
  <p>
    <strong>Location:</strong> {{ location.name }}<br>
    <a target="_blank" href="https://maps.google.com/maps/place/{{ location.address1 }},+{{ location.city }},+{{ location.state }}+{{ location.postal_code }}">
      {{ location.address1 }} {{ location.address2 }}<br>
      {{ location.city }}, {{ location.state }} {{ location.postal_code }}
    </a>
  </p>
  {% endwith %}
</div>

{% if session.location_info or session.location.instructions %}
<div class="card">
  <div class="card-content">
    <h4 class="card-title">Location Info</h4>
    {{ session.location_info|default:session.location.instructions|markdown }}
  </div>
</div>
{% endif %}

{% if can_manage %}
<form method="post" action=".">{% csrf_token %}
  <div class="row">
    <div class="card-panel col s12">
      <ul class="component collection with-header">
        <li class="collection-header"><h5>Attendance</h5></li>
        {% for volunteer in session.invitees.all %}
        <li class="collection-item">
          <div class="row">
            <div class="attendance-name col s12 m5">
              <div class="input-field">
                <input type="checkbox" name="volunteers" value="{{ volunteer.id }}"
                  id="id_volunteer_{{ volunteer.id }}"{% if volunteer in session.attendees.all %} checked{% endif %}>
                <label for="id_volunteer_{{ volunteer.id }}"></label>
                <a class="chip" href="{% url "dashboard-volunteer-details" volunteer_id=volunteer.id %}">
                  {% if volunteer.photo %}
                  <img src="{% thumbnail volunteer.photo 32x32 crop %}">
                  {% else %}
                  <img src="{% static "hive/images/generic-user.png" %}" height="32" width="32">
                  {% endif %}
                  {{ volunteer }}
                </a>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="right-align">
    <input class="btn" type="submit" value="Save">
  </div>
</form>
{% endif %}
{% endblock %}
