{% extends "dashboard/base.html" %}
{% load thumbnail static %}
{% block extracss %}
<style>
  .photo {
    text-align: center;
  }
</style>
{% endblock %}
{% block page_content %}

<div class="card-panel">
  <div class="row">
    <div class="photo col s12 m5 l4">
      <img class="circle" src="{% thumbnail volunteer.photo 192x192 crop upscale %}">
    </div>
    <div class="col s12 m7 l8">
      <h4>{{ volunteer.name }}</h4>
      <p>
        {{ volunteer.email }}
      </p>
      <p>
        {{ volunteer.phone }}
      </p>
    </div>
  </div>
</div>

{% endblock %}
