.session-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.session-nav .session-heading {
  flex: 1;
  text-align: center;
}
.attendance-name label {
  width: 0;
}
.attendance-name {
  white-space: nowrap;
}
.collection {
  overflow: visible !important;
}
.attendance-item .primary-content {
  display: flex;
  align-items: center;
}
.attendance-item .primary-content .title {
  flex: 1;
  margin-left: 1em;
}
.attendance-item .more-content {
  max-height: 0px;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}
.attendance-item[data-expanded="true"] .more-content {
  max-height: 100px;
  transition: max-height 0.25s ease-in;
}
.attendance-item .more-btn {
  transform: rotate(0deg);
  transition: transform 0.15s ease-out;
}
.attendance-item[data-expanded="true"] .more-btn {
  transform: rotate(180deg);
  transition: transform 0.25s ease-in;
}

.tab-content {
  /* prevent tab from showing before we've selected the right one based on location hash */ 
  display: none;
}
.collection-item.btn-row {
  text-align: right;
}
.collection-item .checkbox-container {
  width: 40px;
  height: 40px;
  padding: 9px 0 0 11px;
}
.coordinator {
  margin-top: 0;
}
.tabs {
  overflow: hidden;
}
h4 {
  display: flex;
}
h4 .program-name {
  flex: 1;
}
h4 .btn {
  font-size: 1rem;
}
.exit-ticket-actions {
  margin-top: 1em;
  text-align: right;
}

