{% load markdown exit_ticket_tags %}

<div class="exit-ticket-results">
  {% for result in exit_ticket_results %}
  <div class="row question {% if result.is_correct %}correct{% else %}incorrect{% endif %}">
    <div class="card-panel col s12">
      <h5>
        {% if not preview_answers %}
        <i class="material-icons left">{% if result.is_correct %}check_circle{% else %}cancel{% endif %}</i>
        {% endif %}
        {{ result.question_number }}: {{ result.question_text|format_first_line }}
      </h5>
      {% if show_stats %}
      {% if result.team_results.answered %}
      <div class="total-score team" style="background: linear-gradient(90deg, {{ result.team_results.color|default:"#ddd" }} {{ result.team_results.percent }}%, #f8f8f8 {{ result.team_results.percent }}%)">
        {{ result.team_results.correct }}/{{ result.team_results.answered }} students on your team answered correctly.
      </div>
      {% endif %}
      {% if result.global_results.answered %}
      <div class="total-score global" style="background: linear-gradient(90deg, {{ result.global_results.color|default:"#ddd" }} {{ result.global_results.percent }}%, #f8f8f8 {{ result.global_results.percent }}%)">
        {{ result.global_results.percent }}% of all Bold Idea students answered correctly ({{ result.global_results.answered }} answered so far).
      </div>
      {% endif %}
      {% endif %}
      {{ result.question_text|format_extra_lines }}
      <ul class="choices component">
        {% for choice in result.choices %}
        <li class="choice{% if choice.correct %} correct{% endif %}{% if choice.selected %} selected{% endif %}">
          <i class="material-icons left">{% if choice.correct %}check_circle{% else %}cancel{% endif %}</i>
          {% if show_stats %}
          <div class="stats">
            {% if result.team_results.answered %}
              <span class="team" title="Team">{{ choice.team_result.count }}</span>
            {% endif %}
            {% if result.global_results.answered %}
              <span class="global" title="Bold Idea">
                {{ choice.global_result.percent }}%
              </span>
            {% endif %}
          </div>
          {% endif %}
          <div class="choice-text">
            {{ choice.text|markdown:True }}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
