input[type="file"].dropify {
  opacity: 0;
}
.col.photo-upload {
  min-height: 210px;
}
.dropify-filename {
  display: none;
}
.dropify-infos-inner {
  padding: 0 !important;
}
.dropify-infos-message {
  text-align: center !important;
  white-space: normal !important;
  line-height: 1.5em !important;
  padding-top: 8px !important;
}
.photo-upload .dropify-wrapper {
  border: 0;
}
.photo-upload .dropify-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 175px;
}
.photo-upload .dropify-render {
  width: 175px;
  height: 175px;
  border-radius: 100%;
  background-size: cover;
  background-position: center center;
  box-shadow: 3px 3px 6px rgba(0,0,0,.3);
}
.photo-upload .dropify-render img {
  display: none;
}
