// Mixins
@import "material/sass/variables";
@import "codehilite.css";

/* Fix for materialize bug #5602 */
input + label {
  pointer-events: auto !important;
}

[unresolved] {
  display: none;
}

html, body {
  height: 100%;
}

.main {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

nav .brand-logo {
  display: flex;
  height: 64px;
  align-items: center;
  white-space: nowrap;
}

nav .brand-logo img {
  height: 40px;
  margin: 8px 16px 8px 0;
}


// restore ul/ol styling
#page_content ul:not(.component):not(.dropdown-content), ol {
  display: block;
  padding-left: 40px;
}
#page_content ul:not(.component):not(.dropdown-content) li {
  list-style-type: disc;
}
#page_content ol li {
  list-style-type: decimal;
}

/**
 * Checkbox native validation fix
 * https://github.com/Dogfalo/materialize/issues/2712
 */
[type=checkbox]:not(:checked) {
    left: inherit;
    margin-top: 8px;
    pointer-events: none;
}

.hidden, [hidden] {
  display: none !important;
}

.ptr {
  cursor: pointer;
}

.align-right {
  text-align: right;
}

.error {
  color: $error-color;
}

.success {
  color: $success-color;
}

.primary-color {
  background-color: color($primary-color-name, "base");
}

.secondary-color {
  background-color: color($secondary-color-name, "base");
}

.waves-effect .waves-ripple {
  background-color: color($secondary-color-name, "base");
}

.white-text {
  color: white;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.checkbox-list {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  font-weight: 300;
}

h6 {
  font-weight: 400;
}

.input-field [type="checkbox"] + label,
.input-field [type="radio"] + label {
  color: color("grey", "darken-4");
}

/* Allow FAB for file field button */
.file-field .btn-floating {
  float: left;
}

.errorlist {
  color: #F44336;
}

/* Fix for field errors */
.input-field .validate + label {
  overflow: visible !important;
}
.input-field .validate + label:after {
  top: 60px;
}
.input-field .validate + label:not(.active):after {
  font-size: 0.8rem;
  top: 38px;
}
// don't mess up checkboxes and radios
.input-field .validate[type=radio] + label:after, 
.input-field .validate[type=checkbox] + label:after {
  top: 0;
}

// fix for radio fields
/*
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label,
[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
  overflow: visible !important;
  white-space: normal !important;
}
*/

.input-field .validate[type=radio] + label + .error,
.input-field .validate[type=checkbox] + label + .error {
  margin-left: 10px;
  margin-top: 25px;
  font-size: 0.8rem;
}
.input-field .validate.invalid[type=checkbox] + label {
  border-bottom: 2px solid red;
}

.input-field.radio p.error {
  margin: 1rem 0 -1rem 0.75rem;
}

/* put help-text a bit higher on textarea fields */
.input-field .materialize-textarea + label + .help-block {
  top: -1.2rem;
  font-style: italic;
}

h6 {
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

.card {
  h1, h2, h3, h4, h5, h6 {
    &.card-title {
      margin-top: 0;
    }
  }
}

.card-image {
  display: block;
  min-height: 160px;
}

.card-image div.activator {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  background-size: cover;
}

.card-image div.activator img.activator {
  visibility: hidden;
}

.card-image .card-title {
  font-size: 22px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}

#toast-container {
  top: 56px !important;
  right: auto !important;
  bottom: auto !important;
  left: auto !important;
  display: flex;
  justify-content: center;
  width: 100% !important;
  max-width: 100% !important;
}

.dropify-wrapper .remove-btn {
  display: block;
  position: absolute;
  top: auto;
  left: auto;
  bottom: 23px;
  right: 10px;
  opacity: 1;
  z-index: 7;
}

.input-field label {
  overflow: none;
}

section + hr {
  margin: 30px 0;
}

.condensed td,
.condensed th {
  padding: 4px;
}

.condensed td input[type="checkbox"]+label {
  height: 16px;
  line-height: 16px;
}

p.important {
  color: $primary-color !important;
  font-style: italic;
}
p.important em {
  font-weight: bold;
  text-decoration: underline;
}

.date-picker + i.material-icons {
  position: absolute;
  right: 16px;
  top: 12px;
  cursor: pointer;
  z-index: 1;
}

.codehilite pre, code {
  font-family: monospace;
  border: 1px solid #ccc;
  background: #f8f8f8;
  border-radius: 4px;
  padding: 2px;
}

.codehilite pre {
  padding: 10px;
}


code {
  padding: 2px 6px;
}

kbd {
  padding:0.1em 0.6em;
  border:1px solid #ccc;
  font-size:11px;
  font-family:Arial,Helvetica,sans-serif;
  background-color:#f7f7f7;
  color:#333;
  -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  margin:0 0.1em;
  text-shadow:0 1px 0 #fff;
  line-height:1.4;
  white-space:nowrap;
}

.slots {
  display: flex;
  flex-wrap: wrap;
}
.slots .slot {
  border: 1px solid #ccc;
  margin: 2px;
  min-width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.slots .slot a {
  color: inherit;
}
.slots .slot.filled {
  background: #eee;
}

/**
 * Fix for dropdown icon wrap
 */
.dropdown-content li {
  white-space: nowrap;
  overflow: none;
}

/**
 * icon-button implementation
 * https://github.com/Dogfalo/materialize/issues/227
 */
.btn-icon {
  border: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;
}
