<li class="collection-item attendance-item" data-id="{{ id }}" data-type="{{ type }}" id="attendance_{{ type }}_{{ id }}" data-expanded="false">
  <div class="primary-content">
    <img class="circle" src="{{ thumb_url }}" width="{{ thumb_size }}" height="{{ thumb_size }}">
    <div class="title"><a href="{{ details_url }}">{{ name }}</a> {{ extra_info }}</div>
    <a class="edit-attendance-notes btn btn-flat btn-icon modal-trigger" {% if not notes %}hidden{% endif %} title="{{ notes }}" href="#notes_{{ type }}_{{ id }}">
      <i class="material-icons">assignment</i>
    </a>
    <span class="checkbox-container">
      <input type="checkbox" name="{{ type }}_{{ id }}_present" value="true"
      id="id_{{ type }}_{{ id }}_present"{% if present %} checked{% endif %}>
      <label for="id_{{ type }}_{{ id }}_present"></label>
    </span>
    <button type="button" class="btn btn-flat btn-icon dropdown-button more-btn">
      <i class="material-icons arrow-show">arrow_drop_down</i>
    </button>
  </div>
  <!--
  <ul id="dropdown_{{ type }}_{{ id }}" class="dropdown-content">
    <li>
      <a href="#notes_{{ type }}_{{ id }}" class="edit-attendance-notes modal-trigger">
        <i class="material-icons">assignment</i>
        {% if notes %}Edit notes{% else %}Add notes{% endif %}
      </a>
    </li>
    <li>
      <a href="#!" class="attendance-remove">
        <i class="material-icons">remove_circle</i>
        Remove
      </a>
    </li>
  </ul>
  -->
  <div id="more_{{ type }}_{{ id }}" class="more-content">
    <textarea class="materialize-textarea" rows="5" name="{{ type }}_{{ id }}_notes" id="id_{{ type }}_{{ id }}_notes" placeholder="Notes" value="{{ notes }}"></textarea>
  </div>
</li>
