{% extends "hive/includes/nav.html" %}

{% block nav_links %}
{% if user and user.contact and user.contact.volunteer %}
<li>
  <a href="{% url "dashboard-home" %}">
    <i class="material-icons left">dashboard</i> Dashboard
  </a>
</li>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block user_links %}
<li>
  <a href="{% url "volunteers-profile" %}">
    <i class="material-icons left">person</i> My Profile
  </a>
</li>
{% if user.is_staff or user.is_superuser %}
<li>
  <a href="{% url "admin:index" %}">
    <i class="material-icons left">settings</i> Admin
  </a>
</li>
{% endif %}
{{ block.super }}
{% endblock %}

