{% load thumbnail %}
<div class="card">
  <a class="card-image" href="{% url "dashboard-program-site" program_id=program.id %}">
    <!-- 
    hack for "cover" sizing: put div on top of the image, so that the image
    controls ratio-aware sizing while the div performs "cover" sizing 
    -->
    <img class="activator" src="{% thumbnail program.default_photo 400x225 crop upscale %}">
    <div class="activator" style="background-image: url('{% thumbnail program.default_photo 400x225 crop upscale %}')">
      <span class="card-title">{{ program.name }}</span>
    </div>
  </a>
  <div class="card-content">
    {% if program.sessions.count > 1 %}
    <p>{{ program.first_session.date|date:"N j" }} - {{ program.last_session.date|date:"N j" }} (<a class="modal-trigger" href="#scheduleModal{{ program.pk }}">view schedule</a>)</p>
    {% with show_all_sessions=True %}
    {% include "programs/includes/program_schedule_modal.html" %}
    {% endwith %}
    {% endif %}

    {% if program.schedule_description %}
    <p>{{ program.schedule_description }}</p>
    {% endif %}

    {% with program.location as location %}
    {% if location.address1 %}
    <p>
      <a href="https://www.google.com/maps/place/{{ location.address1 }}+{{ location.address2 }},+{{ location.city }}+{{ location.state }},+{{ location.zip }}" target="_blank">
      {{ location.address1 }}{% if location.address2 %}, {{ location.address2 }}{% endif %}
      {% if location.city %}{{ location.city }}, {{ location.state }} {{ location.postal_code }}{% endif %}
      </a>
    </p>
    {% endif %}
    {% endwith %}

    {% if coordinator and program.is_open_for_registration %}
    <h6>Registrations</h6>
    <div class="row">
      <div class="student-slots col s12">
        <strong>Students</strong>
        <div class="slots">
          {% for reg in program.student_slots %}
          <div class="slot{% if reg %} filled{% endif %}">
            {% if reg %}
            <a href="{% url "dashboard-student-details" reg.student.id %}" title="{{ reg.student }}">
              {% if reg.student.gender == "MALE" %}👦
              {% elif reg.student.gender == "FEMALE" %}👧
              {% else %}🙂{% endif %}
            </a>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="volunteer-slots col s12">
        <strong>Mentors</strong>
        <div class="slots">
          {% for vol in program.volunteer_slots %}
          <div class="slot{% if vol %} filled{% endif %}">
            {% if vol %}
            <a href="{% if vol.signup %}{% url "dashboard-volunteer-details" vol.id %}{% else %}#{% endif %}" title="{{ vol }}">
              {% if vol.gender == "MALE" %}👨
              {% elif vol.gender == "FEMALE" %}👩
              {% else %}🙂{% endif %}
            </a>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
