{% load material_tags %}
{% load i18n %}
{% for field in form.hidden_fields %}
{{ field }}
{% endfor %}
<div class="row">
  <h5 class="col s8 formset-heading">
      <span class="initial">{% trans "Parent / Legal Guardian info" %}</span>
    <span class="hidden subsequent">Additional contact #<span class="counter">{{ forloop.counter }}</span>
  </h5>
  <p class="col s4 align-right">
  <a class="ptr remove-btn"><i class="material-icons tiny">delete</i> {% trans "Remove" %}</a>
  </p>
</div>
<div class="row">
  <div class="input-field col s12 m6">
    {{ form.first_name }}
    {% field_label form.first_name %}
  </div>
  <div class="input-field col s12 m6">
    {{ form.last_name }}
    {% field_label form.last_name %}
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    {{ form.email }}
    {% field_label form.email %}
  </div>
</div>
<div class="row">
  <div class="input-field col s12 m6 address-field">
    {{ form.address1 }}
    {% field_label form.address1 %}
  </div>
  <div class="input-field col s12 m6 address-field">
    {{ form.address2 }}
    {% field_label form.address2 %}
  </div>
</div>
<div class="row">
  <div class="input-field col s12 m4 address-field">
    {{ form.city }}
    {% field_label form.city %}
  </div>
  <div class="input-field col s12 m4 address-field">
    {{ form.state }}
    {% field_label form.state %}
  </div>
  <div class="input-field col s12 m4 address-field">
    {{ form.postal_code }}
    {% field_label form.postal_code %}
  </div>
</div>
<div class="row">
  <div class="input-field col s12 m6">
    {{ form.phone }}
    {% field_label form.phone %}
  </div>
  <div class="input-field col s12 m6">
    {{ form.alt_phone }}
    {% field_label form.alt_phone %}
  </div>
</div>
<div class="row">
  <div class="input-field col s12 m6">
    {{ form.preferred_language }}
    {% field_label form.preferred_language %}
  </div>
  <div class="input-field col s12 m6">
    {{ form.relationship }}
    {% field_label form.relationship %}
  </div>
</div>
<div class="row">
  <div class="input-field col s12 m6">
    {{ form.company }}
    {% field_label form.company %}
  </div>
  <div class="input-field col s12 m6">
    {{ form.military_status }}
    {% field_label form.military_status %}
  </div>
</div>
<div class="row">
  <div class="input-field col s12 m6">
    {{ form.emergency_contact }}
    {% trans "Contact this person in case of an emergency" as emergency_contact_text%}
    {% field_label form.emergency_contact emergency_contact_text %}
  </div>
 <div class="input-field col s12 m6">
  {{ form.can_volunteer }}
  {% trans "This person is interested in volunteering at the program site" as volunteer_interest %}
  {% field_label form.can_volunteer volunteer_interest %}
  </div>
</div>
