<ul>
{% if validation_errors.students %}
  {% for student_errors in validation_errors.students %}
  <li>
    Student #{{ forloop.counter }}
    <ul>
      {% for field, errors in student_errors.items %}
      <li>{{ field }}: {{ errors.0 }}</li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
{% endif %}
{% if validation_errors.contacts %}
  {% for student_errors in validation_errors.students %}
  <li>
    Contact #{{ forloop.counter }}
    <ul>
      {% for field, errors in student_errors.items %}
      <li>{{ field }}: {{ errors.0 }}</li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
{% endif %}
{% if validation_errors.registration %}
  {% for field, errors in validation_errors.registration %}
  <li>{{ field }}: {{ errors.0 }}</li>
  {% endfor %}
{% endif %}
{% if validation_errors.assistance %}
  {% for field, errors in validation_errors.assistance %}
  <li>{{ field }}: {{ errors.0 }}</li>
  {% endfor %}
{% endif %}
{% if validation_errors.user %}
  {% for field, errors in validation_errors.user %}
  <li>{{ field }}: {{ errors.0 }}</li>
  {% endfor %}
{% endif %}
</ul>

