{% extends "hive/includes/nav.html" %}
{% block nav_links %}
{% load i18n %}
<li>
  <a href="{% url "programs-index" %}">
      <i class="material-icons left">home</i> {% trans "Programs" %}
  </a>
</li>
{% endblock %}

{% block user_links %}
{% if cart|length %}
<li>
  <a href="{% url "programs-view-cart" %}">
      <i class="material-icons left">shopping_cart</i> {% trans "View Cart"%} ({{ cart|length }})
  </a>
</li>
{% endif %}
{% if user.account %}
<li>
  <a href="{% url "programs-my-account" %}">
      <i class="material-icons left">account_circle</i> {% trans "My Account" %}
  </a>
</li>
{% endif %}
{{ block.super }}
{% endblock %}

