<table class="table bordered" style="max-width: 500px;">
	<tr>
    {% if show_checkbox %}<th></th>{% endif %}
		<th>Session</th>
		<th>Date</th>
		<th>Time</th>
	</tr>
	{% for session in program.sessions.all %}
  {% if show_all_sessions or session.type == "PROGRAM" %}
	<tr class="hoverable">
    {% if show_checkbox %}
    <td>
      <input type="checkbox" name="session" value="{{ session.id }}" id="id_session_{{ session.id }}"{% if session.id in selected_session_ids %} checked{% endif %}>
      <label for="id_session_{{ session.id }}"></label>
    </td>
    {% endif %}
    <td>
      {% if session.description %}{{ session.description }}{% else %}Session #{{ forloop.counter }}{% endif %}
    </td>
		<td>{{ session.date|date:"N j" }}</td>
    <td>
      {% if not session.start_time %}
        TBD
      {% else %}
        {{ session.start_time|time }}{% if session.end_time %} - {{ session.end_time|time }}{% endif %}
      {% endif %}
    </td>
	</tr>
  {% endif %}
	{% endfor %}
</table>
