{% load thumbnail %}
<script>
  function initMap() {
    window._programMapMarkers = {};
    var map = new google.maps.Map(document.getElementById('map'), {
      scrollwheel: false,
      zoom: 4
    });
    var programs = [
    {% for program in programs %}
      {% with program.location as location %}{
        name: '{{ program.name }}',
        photo: '{% thumbnail program.default_photo 160x120 crop upscale %}',
        schedule: '{{ program.schedule_description }}',
        location: {
          id: {{ program.location.id }},
          address: '{{ location.address1 }} {{ location.address2 }}<br>{{ location.city }} {{ location.state }}, {{ location.postal_code }}',
          latlng: new google.maps.LatLng({{ location.geo.coords.0 }}, {{ location.geo.coords.1 }})
        }
      }{% if not forloop.last %},{% endif %}{% endwith %}
    {% endfor %}
    ];
    // group programs by location
    var locations = {};
    for (var i=0; i<programs.length; i++) {
      var locationId = programs[i].location.id;
      if (!locations[locationId]) {
        locations[locationId] = {
          programs: [],
          address: programs[i].location.address,
          latlng: programs[i].location.latlng,
          marker: null
        }
      }
      locations[locationId].programs.push(programs[i]);
    }
    var bounds = new google.maps.LatLngBounds();
    for (var locationId in locations) {
      var location = locations[locationId];
      location.marker = new google.maps.Marker({
        position: location.latlng,
        map: map,
        animation: google.maps.Animation.DROP
      });
      bounds.extend(location.latlng);
    }
    map.fitBounds(bounds);
    google.maps.event.addDomListener(window, 'resize', function() {
      map.setCenter(bounds.getCenter());
    });
    var mapReady = new CustomEvent('program-map-ready', {
      detail: locations
    });
    $('#map')[0].dispatchEvent(mapReady);
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4Gw6lcyXcMCzM5shjKQK9a0CJlpyu6Bk&callback=initMap"></script>
