<div id="scheduleModal{{ program.pk }}" class="modal modal-fixed-footer" style="max-width: 580px">
	<div class="modal-content">
    <h5>Schedule for {{ program.name }}</h5>
		{% include "programs/includes/program_schedule.html" %}
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	</div>
</div>
