{% load material_tags %}
{% load i18n %}
{% for field in form.hidden_fields %}
{{ field }}
{% endfor %}
<div class="row">
  <h5 class="col s8 formset-heading">
      <span class="initial">{%trans "Student Info" %}</span>
  </h5>
</div>
<div class="basic-info">
  <div class="row">
    <div class="input-field col s12 m6">
      {{ form.first_name }}
      {% field_label form.first_name %}
    </div>
    <div class="input-field col s12 m6">
      {{ form.last_name }}
      {% field_label form.last_name %}
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      {{ form.birth_date }}
      {% field_label form.birth_date %}
    </div>
    <div class="input-field col s12 m6">
      {{ form.grade_level }}
      {% field_label form.grade_level %}
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      {{ form.school_name }}
      {% field_label form.school_name %}
    </div>
    <div class="input-field col s12 m6">
      {{ form.shirt_size }}
      {% field_label form.shirt_size %}
    </div>
  </div>
</div>
<div class="race-ethnicity-gender">
    <h6>{% trans "Race, Ethnicity and Gender" %} </h6>
  <p>
    {% blocktrans %}
    Although not required, we encourage families to provide the following
    information on the student's racial background, ethnicity, and gender. This
    information will be used to improve our outreach efforts and advance Bold
    Idea's mission.
    {% endblocktrans %}
  </p>
  <div class="row">
    <div class="input-field col s12 m6">
      {{ form.race }}
      {% field_label form.race %}
    </div>
    <div class="input-field col s12 m6">
      {{ form.ethnicity }}
      {% field_label form.ethnicity %}
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      {{ form.gender }}
      {% field_label form.gender %}
    </div>
  </div>
</div>
<div class="other-info">
    <h6>{% trans "Additional Information" %} </h6>
  <div class="row">
    <div class="input-field col s12">
      {% blocktrans %}
      Please list any coding activities that your child has done in the past. 
      (No prior experience is required.)
      {% endblocktrans %}
      {{ form.previous_activities }}
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      {% blocktrans %}
      Please list any other activities or after-school programs that might 
      conflict with their participation in this program
      {% endblocktrans %}
      {{ form.possible_conflicts }}
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      {% blocktrans %}
      Is there anything else would you like us to know about your child that
      might impact our ability to mentor or teach them?
      {% endblocktrans %}
      {{ form.other_info }}
    </div>
  </div>
</div>
