{% extends "admin/change_form.html" %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript">
  (function($) {
    var addBtn;
    var locationData = {{ location_json|safe|default:"{}" }};
    $(document).ready(function() {
      /**
       * Default location instructions
       */
      var origLocationInfo = $('#id_location_info').val();
      var origLocationId = $('#id_location').val();
      $('#id_location').on('change', function() {
        $('#id_location_info').val(locationData[$(this).val()]).trigger('autoresize');
        Materialize.updateTextFields();
      });

      /**
       * Session formset tools
       */
      var formset = $('[data-formset-prefix="sessions"]');
      var addBtn = formset.find('[data-formset-add]');
      var row = $('<div class="row">').insertAfter(addBtn);
      var col1 = $('<div class="col s4">').appendTo(row);
      var col2 = $('<div class="col s4">').appendTo(row);
      var col3 = $('<div class="col s4">').appendTo(row);

      addBtn.html('<i class="material-icons left">add</i> blank');
      var addDay = $('<button type="button" class="btn btn-flat grey lighten-4">')
                   .html('<i class="material-icons left">add</i> 1 day');
      var addWeek = $('<button type="button" class="btn btn-flat grey lighten-4">')
                   .html('<i class="material-icons left">add</i> 1 week');

      function addSession(days) {
        addBtn.click();
        // get 2nd-to-last date
        var srcRow = $(formset.find('tr:not([data-formset-form-deleted])').reverse()[1]);
        var destRow = formset.find('tr:nth-last-of-type(1)');
        var date = srcRow.find('td.field-date input').val();
        if (!date) {
          return;
        }
        var startTime = srcRow.find('td.field-start_time input').val();
        var endTime = srcRow.find('td.field-end_time input').val();
        var dateParts = date.split('/').map(function(n){return parseInt(n)});
        var newDate = new Date(dateParts[2], dateParts[0]-1, dateParts[1]);
        newDate.setDate(newDate.getDate() + days);
        destRow.find('td.field-date input').val(newDate.strftime('%m/%d/%Y'));
        destRow.find('td.field-start_time input').val(startTime);
        destRow.find('td.field-end_time input').val(endTime);

        // act like a spreadsheet -- if description ends with a number, increment that number
        var description = srcRow.find('td.field-description input').val();
        var num = parseInt(description.match(/(\d+)$/)[0]);
        if (!isNaN(num)) {
          description = description.replace(/^(.*?)(\d+)$/, '$1' + (num + 1));
          destRow.find('td.field-description input').val(description);
        }

        Materialize.updateTextFields();
      }

      addBtn.appendTo(col1).css('width', '100%');
      addDay.appendTo(col2).css('width', '100%').on('click', function() {addSession(1)});
      addWeek.appendTo(col3).css('width', '100%').on('click', function() {addSession(7)});
    });

  })(django.jQuery);
</script>
{% endblock %}
