{% extends "hive/base.html" %}

{% block nav %}{% include "programs/includes/nav.html" %}{% endblock %}
{% block nav_mobile %}{% include "programs/includes/nav.html" %}{% endblock %}

{% block page_title %}Bold Idea{% endblock %}

{% block content %}
<div class="container">
  <div class="section" id="page_content">
    {% block page_content %}
    {% endblock %}
  </div>
</div>
{% endblock %}
