{% extends "programs/base.html" %}
{% load markdown %}
{% block page_content %}
{% load i18n %}
<h3>{{ program.name }} - {% trans "Add Student" %}</h3>

  {% if not program.description and program.course %}
  {{ program.course.description|markdown }}
  {% else %}
  {{ program.description|markdown }}
  {% endif %}

  {% if program.is_full and not allow_overflow %}
  <div class="card">
    <div class="card-content">
      <h4 class="card-title">We're sorry, this program location is full.</h4>
      <p>
        While it's not common for us to get cancellations, you may request to be put on a waiting list by sending an
        email to <a href="mailto:ben@boldidea.org">ben@boldidea.org</a>.
      </p>
    </div>
  </div>
  {% elif account_students and not student_id %}
  <p>
  {% blocktrans %}
    Select an existing student to enroll in this program, or select "Register a new
    student" to add a new student.
  {% endblocktrans %}
  </p>
 	<div class="collection">
		{% for student in account_students %}
    <a href="?student={{ student.id }}{% if allow_overflow %}&allow_overflow=1{% endif %}" class="collection-item">
      <i class="material-icons left">person</i>
      {{ student.name }}, {%trans "age" %} {{ student.age }}
    </a>
		{% endfor %}
    <a href="?student=new{% if allow_overflow %}&allow_overflow=1{% endif %}" class="collection-item">
      <i class="material-icons left">person_add</i>
      {% trans "Register a new student" %}
    </a>
	</div>

  {% else %}

  {% if program.sessions.count == 1 %}
  {% else %}
  <div class="schedule">
    <p>
     {% trans "Fee" %}: ${{ program.fee }}{% if program.allow_monthly_payments %} <em>(one-time or in {{ program.num_monthly_payments }} monthly installments)</em>{% endif %}
    </p>
    <p>
    <em>{% trans "Financial assistance is available for qualifying families. See details on the checkout screen." %}</em>
    </p>
    {% if program.schedule_description %}
    <p class="schedule-description">{{ program.schedule_description }}</p>
    {% endif %}
    <p>
      {% blocktrans %}
      Please make sure your student will be available for the majority of the
      sessions. If there are any potential conflicts, please note them below.
      {% endblocktrans %}
    </p>
    <p>
    <a class="view-schedule modal-trigger" href="#scheduleModal{{ program.pk }}"><i class="material-icons left">event</i> {% trans "View schedule" %}</a>
    </p>
    {% include "programs/includes/program_schedule_modal.html" %}
  </div>
  {% endif %}

  <form method="POST" action=".">
    {% csrf_token %}
    <div class="card-panel">
      {% include "programs/includes/student_info_form.html" %}
    </div>
    <p>
      {% blocktrans %}
      On the next screen you'll have the option to complete your registration or
      add more students if desired.
      {% endblocktrans %}
    </p>
    <input type="submit" value={% trans "Continue" %} class="btn">
    <input type="hidden" name="allow_overflow" value="{{ allow_overflow }}">
    {% if student_id %}
    <input type="hidden" name="student" value="{{ student_id }}">
    {% endif %}
  </form>

  {% endif %}
{% endblock %}

{% block extrajs %}{{ block.super }}
<script>
$(document).ready(function() {
  $('.modal').modal();
});
</script>
{% endblock %}
