{% extends "programs/base.html" %}
{% load static %}
{% block page_content %}
{% load i18n %}
<style>
  table td.remove, th.remove {
    text-align: center;
  }
</style>

<h3>{% trans "Cart" %}</h3>

{% if closed_programs|length %}
<p>
  {% blocktrans %}
  Click "Checkout" when you're ready to complete your registration.
  To add another student, click "Add another student" below.
  {% endblocktrans %}
</p>
{% else %}
<p>
  {% blocktrans %}
  Click "Checkout" when you're ready to complete your registration.
  {% endblocktrans %}
</p>
<p>
  {% url "programs-index" as programs_index %}
  {% blocktrans %}
  To add another student, click <a href={{programs_index}}>here</a>
  to go back to the program catalog.
  {% endblocktrans %}
</p>
{% endif %}

<div class="card-panel">
  {% if not cart|length %}
  <p>{% trans "There are no items in your cart." %}</p>
  <a href="{% url "programs-index" %}" class="btn">{% trans "View Programs" %}</a>
  {% else %}
  <table>
    <thead>
      <tr>
        <th data-field="student">{% trans "Student" %}</th>
        <th data-field="program">{% trans "Program" %}</th>
        <th data-field="fee">{% trans "Fee" %}</th>
        <th class="remove">{% trans "Remove" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
      <tr> 
        <td>{{ item.student }}</td>
        <td>{{ item.program }}</td>
        <td>{{ item.program.fee }}</td>
        <td class="remove">
          <a class="btn-flat" href="?remove={{ forloop.counter }}" title="remove">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr><th colspan="2">Total:</th><th>{{ cart.total }}</th></tr>
    </tfoot>
  </table>
  {% endif %}
</div>

{% if cart|length %}
  <p>
    <a class="btn" href="{% url "programs-checkout" %}">{% trans "Checkout" %}</a>
  </p>
{% endif %}
{% if closed_programs|length %}
{% for program in closed_programs %}
<p>
  <a href="{{ program.add_to_cart_url }}">
    &laquo; {% trans "Add another student to" %} <em>{{ program.name }}</em>
  </a>
</p>
{% endfor %}
{% else %}
<p>
  <a href="{% url "programs-index" %}">&laquo; {% trans "Add another student" %}</a>
</p>
{% endif %}      

{% endblock %}
