{% extends "programs/base.html" %}
{% load static thumbnail markdown %}
{% block content %}
{% load i18n %}

<div class="container">
  <div class="section programs">
    <h3>{{ category.name }}</h3>
    {{ category.description|markdown }}
    <p>
    * {% trans "Monthly payment plans and financial assistance are available for select programs." %}
    </p>
    <div class="row">
    {% for program in programs %}
      <div class="col s12 m6 l4">
        <div class="card">
          <a class="card-image"
            {% if program.is_full %}
            {% elif program.registration_url %}href="{{ program.registration_url }}" target="_blank"
            {% else %}href="{{ program.add_to_cart_url }}"{% endif %}>
            {% if program.is_full %}
            <img class="activator" src="{% thumbnail program.default_photo 400x225 crop upscale bw %}">
            {% else %}
            <img class="activator" src="{% thumbnail program.default_photo 400x225 crop upscale %}">
            {% endif %}
            <span class="card-title">{{ program.name }}</span>
          </a>
          <div class="card-content">
            {% if program.age_range_description %}
            <p>{{ program.age_range_description }}</p>
            {% endif %}

            {% if program.sessions.count > 1 %}
            <p>{{ program.first_session.date|date:"N j" }} - {{ program.last_session.date|date:"N j" }} (<a class="modal-trigger" href="#scheduleModal{{ program.pk }}">{% trans "schedule" %}</a>)</p>
            {% include "programs/includes/program_schedule_modal.html" %}
            {% endif %}

            {% if program.schedule_description %}
            <p>{{ program.schedule_description }}</p>
            {% endif %}

            {% if program.fee > 0 %}
            <p>{% trans "Fee"%}: ${{ program.fee }}{% if program.allow_monthly_payments %}*{% endif %}</p>
            {% endif %}

            {% with program.location as location %}
            {% if location.address1 %}
            <p>
              <a href="https://www.google.com/maps/place/{{ location.address1 }}+{{ location.address2 }},+{{ location.city }}+{{ location.state }},+{{ location.zip }}" target="_blank">
              {{ location.address1 }}{% if location.address2 %}, {{ location.address2 }}{% endif %}
              {% if location.city %}{{ location.city }}, {{ location.state }} {{ location.postal_code }}{% endif %}
              </a>
            </p>
            {% endif %}
            {% endwith %}
          </div>
          <div class="card-action">
            {% if program.is_full %}
            <span class="grey-text">
              <i class="material-icons left">assignment_turned_in</i>
              <em>We're sorry, all spots have been filled.</em>
            </span>
            {% elif program.registration_url %}
            <a href="{{ program.registration_url }}" target="_blank">
              <i class="material-icons left">open_in_new</i>
              Register now
            </a>
            {% else %}
            <a href="{{ program.add_to_cart_url }}">
              <i class="material-icons left">add_shopping_cart</i>
              {% trans "Add to cart" %}
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
    {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script>
$(document).ready(function() {
  $('.modal').modal();
});
</script>
{% endblock %}
