{% extends "programs/base.html" %}
{% load static material_tags %}
{% load i18n %}

{% block page_content %}
<style>
  .credit-card-fields {
    padding-top: 20px;
  }
  .credit-card-fields p em {
    padding-left: 25px;
  }
  .credit-card-fields #checkout-embed {
    margin: 0 !important;
    min-height: 180px !important;
    height: 180px;
  }
</style>

<h4>{% trans "Checkout" %}</h4>

{% if error == "VALIDATION" %}
<p class="error">
  {% blocktrans %}
  There was an error with your registration. Please review the form fields below
  for any error messages.
  {% endblocktrans %}
  <!--
  {{ validation_errors|safe }}
  -->
</p>
{% elif error == "BILLING" %}
<p class="error" id="paymentError">
  {% blocktrans %}
  We're sorry, there was an error processing your card: {{ billing_error|linebreaksbr }}
  {% endblocktrans %}
</p>
{% endif %}

<p>
    {% trans "To finalize your registration, please complete the information below." %}
</p>

<form id="form" method="POST" action="." novalidate>
  {% csrf_token %}

  <!-- contacts -->
  {{ contacts_formset.management_form }}
  <div class="formset" data-prefix="{{ contacts_formset.prefix }}">
    <div class="hidden contact-form formset-form card-panel">
      {% with contacts_formset.empty_form as form %}
      {% include "programs/includes/contact_info_form.html" %}
      {% endwith %}
    </div>
    {% for form in contacts_formset %}
    <div class="contact-form formset-form card-panel">
      {% include "programs/includes/contact_info_form.html" %}
    </div>
    {% endfor %}
    <div class="row formset-add">
      <div class="col s12 align-right">
          <a class="btn"><i class="material-icons left">add</i>{% trans "Add another contact" %}</a>
      </div>
    </div>
  </div>

  <!-- payment info -->
  <div class="card-panel">
    <p>
      {%url "programs-view-cart" as programs_view_cart %}
      {% blocktrans %}
      The following is a summary of your registration. If you need to make
      changes, click <a href={{programs_view_cart}}>here</a> to go
      back to your cart.
      {% endblocktrans %}
    </p>

    <table>
      <thead>
        <tr>
            <th data-field="student">{% trans "Student" %}</th>
            <th data-field="program">{% trans "Program" %}</th>
            <th data-field="fee">{% trans "Fee" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart %}
        <tr>
          <td>{{ item.student }}</td>
          <td>{{ item.program }}</td>
          <td>{{ item.program.fee }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr><th colspan="2">Total:</th><th>{{ cart.total }}</th></tr>
      </tfoot>
    </table>
  </div>

  {% if cart.total > 0 %}
  {% with registration_form as form %}
  <div class="payment card-panel">
    <h5>{% trans "Payment" %}</h5>
    <div class="row">
      <div class="input-field col s12 radio payment-method">
        <strong>{% trans "Payment method"%}:</strong>
        {% if form.payment_method.errors %}
        <p class="error">{{ form.payment_method.errors.0 }}</p>
        {% endif %}
        {% for radio in form.payment_method %}
        {{ radio.tag }}
        <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
        {% endfor %}
      </div>
    </div>
    <div class="charge-method">
      <div class="row credit-card-fields">
        <div class="col s12 input-field">
          <div class="materialize-textinput" id="cardNumber"></div>
          <label for="cardNumber">{% trans "Card number" %}</label>
        </div>
        <div class="col s4 input-field">
          <div class="materialize-textinput" id="expirationDate"></div>
          <label for="expirationDate">{% trans "Exp. date" %} (MM/YYYY)</label>
        </div>
        <div class="col s4 input-field">
          <div class="materialize-textinput" id="cvv"></div>
          <label for="cvv">CVV</label>
        </div>
        <div class="col s4 input-field">
          <input type="text" name="billing_zip" id="id_billing_zip">
          <label for="id_billing_zip">{% trans "Billing zip" %}</label>
        </div>
      </div>
    </div>
  </div>
  {% endwith %}

  <!-- financial assistance -->
  {% with financial_assistance_form as form %}
  <div class="financial-assistance card-panel hidden">
      <h5>{% trans "Financial Assistance Information" %}</h5>
    <p>
      {% blocktrans %}
      To apply for financial assistance, please complete the following
      information. We will contact you as soon as we review your application.
      {% endblocktrans %}
    </p>
    <div class="row">
      <div class="input-field col s12">
        <div>{% trans "Total family income" %}*:</div>
        <div>
          {{ form.total_family_income }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="input-field inline">
          <div>
            {% trans "Number of people supported by this income" %}*:
          </div>
          <div>
            {{ form.num_people_supported_by_income }}
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="input-field inline">
          <div>
            {% trans "Number of children living at home" %}*:
          </div>
          <div>
            {{ form.num_dependent_children }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="input-field inline">
          {% trans "Please list any unusual or extraordinary family expenses or circumstances"%}:
          {{ form.extraordinary_circumstances }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        {% trans "Amount of financial assistance (discount) you are requesting" %}:<br>$
        <div class="input-field inline">
          {{ form.amount_requested }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="input-field radio">
          {% trans "Have you received financial assistance from Bold Idea in the past 12 months?"%}
          {% if form.payment_method.errors %}
          <p class="error">{{ form.received_previously.errors.0 }}</p>
          {% endif %}
          {% for radio in form.received_previously %}
          {{ radio.tag }}
          <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endwith %}

  {% endif %}

  {% comment %}
  {% if not account %}
  <div class="password card-panel">
    <h5>Login Information</h5>
    <p>
      Your Bold Idea login will allow you to view your billing status, make
      payments, and make it easy to re-enroll your children in future Bold Idea
      programs.
    </p>
    <div class="row">
      <div class="input-field col s12">
        {{ user_form.email }}
        {% field_label user_form.email "Login email" %}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m6">
        {{ user_form.password1 }}
        {% field_label user_form.password1 %}
      </div>
      <div class="input-field col s12 m6">
        {{ user_form.password2 }}
        {% field_label user_form.password2 %}
      </div>
    </div>
  </div>
  {% endif %}
  {% endcomment %}

  <div class="terms card-panel">
      <h5>{% trans "How did you hear about us?" %}</h5>
    <div class="row">
      <div class="input-field col s12">
        {% if registration_form.referred_by.errors %}
        <p class="error">{{ registration_form.referred_by.errors.0 }}</p>
        {% endif %}
        {% for radio in registration_form.referred_by %}
        {{ radio.tag }}
        <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="terms card-panel">
    <h5>{% trans "Attendance" %}</h5>
    <div class="row">
      <div class="input-field col s12">
        {% blocktrans %}
        Please verify that you can take your child to <strong>at least 75% of the program sessions</strong>.
        If this is not possible, please leave this seat open for another child.
        {% endblocktrans %}
        {{ registration_form.accept_attendance_agreement }}
        {% trans "I can bring my child to at least 75% of the program sessions" as attendance_agreement_label %}
        {% field_label registration_form.accept_attendance_agreement attendance_agreement_label %}
        {% if registration_form.accept_attendance_agreement.errors %}
        <p class="error">{% trans "Please verify attendance." %}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="terms card-panel">
    <h5>{% trans "Terms and Conditions" %}</h5>
    <div class="row">
      <div class="input-field col s12">
        {% blocktrans %}
        I understand that when participating in Bold Idea activities, my child
        may be photographed for print, video, or electronic imaging. I
        understand that the images may be used in promotional materials, news
        releases, and other formats for Bold Idea. I acknowledge that any images
        will be the sole property of Bold Idea. By submitting this form, I swear
        that all information provided on this application is true and accurate.
        {% endblocktrans %}
        {{ registration_form.accept_terms }}
        {% trans "I agree" as agree %}
        {% field_label registration_form.accept_terms agree %}
        {% if registration_form.accept_terms.errors %}
        <p class="error">{% trans "You must agree to the terms and conditions." %}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row submit-row">
    <div class="col s12 align-right">
      <input class="btn" type="submit" value="{% trans "Submit Registration" %}">
    </div>
  </div>
</form>
{% endblock %}

{% block extrajs %}
{{ block.super }}
<script>
  window.BRAINTREE_TOKENIZATION_KEY = '{{ settings.BRAINTREE_TOKENIZATION_KEY }}';
</script>
<script src="{% static "billing/js/braintree-web/client.js" %}"></script>
<script src="{% static "billing/js/braintree-web/hosted-fields.js" %}"></script>
<script src="{% static "billing/js/payment-form.js" %}"></script>
<script src="{% static "programs/js/registration.js" %}"></script>
{% endblock %}
