{% extends "programs/base.html" %}
{% block page_content %}
{% load i18n %}
<section>
    <h4>{% trans "Registration Complete!" %}</h4>
  <p>
  {% trans "You will soon receive an email with the details of your registration." %} 
  </p>
</section>
<hr>
<section>
    <h5>{% trans "Make a BOLD impact. Become a Bold Idea donor today." %}</h5>
  <p>
    {% blocktrans %}
    Bold Idea is a nonprofit* organization that is able to provide its
    programs to area students through donations from people like you. Consider
    making a one-time or recurring donation to Bold Idea. Your support will enable
    us to provide computer science education programs to more students in the
    Dallas area. Thank you in advance for your support.
    {% endblocktrans %}
  </p>
  <p>
  <a class="btn" href="https://boldidea.org/donate" target="_blank"> {% trans "Donate Today" %}</a>
  </p>
  <p>
    <small>
      {% blocktrans %}
      * Bold Idea is a 501(c)(3) nonprofit organization, and your gift may qualify
      as a charitable deduction for federal income tax purposes. Consult with your
      tax advisers or the IRS to determine whether a contribution is deductible.
      {% endblocktrans %}
    </small>
  </p>
</section>
{% endblock %}
