{% extends "programs/base.html" %}
{% load static thumbnail markdown %}
{% block page_content %}
{% load i18n %}
<style>
  .card-content {
    min-height {

    }
  }
</style>
<h3>{% trans "Bold Idea Programs"%}</h3>
<div class="row">
  {% for category in categories %}
  <div class="col s12 m6">
    <div class="card">
      <a class="card-image" href="{% url "programs-category-index" category=category.slug %}">
        {% if category.photo %}
        <img class="activator" src="{% thumbnail category.photo 400x225 crop upscale %}">
        {% else %}
        <img class="activator" src="{% static "programs/images/generic-category.png" %}">
        {% endif %}
        <div class="card-title">{{ category.name }}{% if category.age_range_description %} ({{ category.age_range_description }}){% endif %}</div>
      </a>
      <div class="card-content">
        <p>{{ category.description }}</p>
      </div>
      <div class="card-action">
          <a href="{% url "programs-category-index" category=category.slug %}">{% trans "View locations" %}</a>
        {% if category.learn_more_url %}
        <a href="{{ category.learn_more_url }}" target="_blank">
          <i class="material-icons left">info_outline</i>
          Learn more
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  {% empty %}
  <div class="col s12">
    <p>
    {% trans "There are currently no programs available for open-enrollment." %}
    </p>
    <p>
      {% url "https://boldidea.org" as bold_idea_url %}
      {% blocktrans %}
      See <a target="_blank" href={{bold_idea_url}}>https://boldidea.org</a> for more info.
      {% endblocktrans %}
    </p>
  </diV>
  {% endfor %}
</div>
{% endblock %}
