{% extends "programs/base.html" %}
{% load static l10n_currency %}
{% block page_content %}

<h3>My Account</h3>

<div class="card-panel">
  <h4>Invoices</h4>
  <p><strong>Total outstanding:</strong> {{ total_outstanding|currency }}</p>
  <p><strong>Total overdue:</strong> {{ total_overdue|currency }}</p>
  <p>Click an invoice number below to view details and make payments.</p>
  <p><i>Note: Please allow 2-3 business days for payments to be posted to your account.</i></p>

  <table class="striped">
    <thead>
      <tr>
        <th>Invoice #</th>
        <th>Date Issued</th>
        <th>Date Due</th>
        <th>Total</th>
        <th>Amount Paid</th>
        <th>Amount Due</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices %}
      <tr>
        <td><a href="{% url "programs-view-invoice" invoice.InvoiceID %}">{{ invoice.InvoiceNumber }}</a></td>
        <td>{{ invoice.Date|date:"SHORT_DATE_FORMAT" }}</td>
        <td>{{ invoice.DueDate|date:"SHORT_DATE_FORMAT" }}</td>
        <td>{{ invoice.Total|currency }}</td>
        <td>{{ invoice.AmountPaid|currency }}</td>
        <td>{{ invoice.AmountDue|currency }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
