{% extends "hive/raw_base.html" %}
{% block body %}
<div class="container">
  <div class="section">
  <h5>Schedule for {{ program.name }}</h5>
  {% include "programs/includes/program_schedule.html" %}
  </div>
</div>
{% endblock %}
