{% extends "programs/base.html" %}
{% load material_tags static l10n_currency %}
{% block page_content %}
<style>
  .credit-card-fields p,
  .submit-row, 
  h5 {
    padding-left: 30px;
  }
  #checkout-embed {
    margin: 0 !important;
    min-height: 180px !important;
    height: 180px;
  }
  .input-field .prefix.dollar-sign {
    font-size: 1em;
    line-height: 1em;
    top: 16px;
    text-align: right;
    padding-right: 4px;
  }
  .invoice-title {
    display: flex;
    align-items: center;
  }
  .invoice-title h4 {
    flex: 1;
  }
</style>

<div class="invoice-title">
  <h4>
    Invoice #{{ invoice.InvoiceNumber }}
  </h4>
  <a class="btn print" target="_blank" href="{% url "programs-view-invoice-pdf" invoice_id=invoice.InvoiceID %}">
    <i class="material-icons left">print</i> Print
  </a>
</div>

{% if error == "VALIDATION" %}
<p class="error">
  There was an error with your payment. Please review the form fields below
  for any error messages.
  <!--
  {{ validation_errors|safe }}
  -->
</p>
{% elif error == "BILLING" %}
<p class="error">
  We're sorry, there was an error processing your card: {{ billing_error }}
</p>
{% endif %}
<div class="card-panel">
  <div class="row">
    <div class="col s12 m6">
      <strong>Invoice #</strong>: {{ invoice.InvoiceNumber }}
    </div>
    <div class="col s12 m6">
      <strong>Total:</strong> {{ invoice.Total|currency }}
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <strong>Date Issued:</strong> {{ invoice.Date|date:"SHORT_DATE_FORMAT" }}
    </div>
    <div class="col s12 m6">
      <strong>Date Due:</strong> {{ invoice.DueDate|date:"SHORT_DATE_FORMAT" }}
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <strong>Amount Paid:</strong> {{ invoice.AmountPaid|currency }}
    </div>
    <div class="col s12 m6">
      <strong>Amount Due:</strong> {{ invoice.AmountDue|currency }}
    </div>
  </div>
</div>

{% if invoice.AmountDue > 0 %}
<form method="POST" action="." novalidate>
  {% csrf_token %}
  <div class="card-panel">
    <div class="row">
      <div class="col s12">
        <h5>Make a Payment</h5>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <span class="prefix dollar-sign">$</span>
        {{ form.payment_amount }}
        {% field_label form.payment_amount label="" %}
      </div>
    </div>
    <div class="row credit-card-fields hidden">
      <div class="col s12">
        <p>
          <strong>Card info:</strong><br>
          <em>(enter only numbers, no dashes or spaces)</em>
        </p>
        <div id="checkout-embed"></div>
      </div>
    </div>
    <div class="col s12 submit-row">
      <input class="btn" type="submit" value="Submit Payment">
    </div>
  </div>
</form>
{% endif %}

{% endblock %}

{% block extrajs %}
{{ block.super }}
{% if invoice.AmountDue > 0 %}
<script src="https://secure.1stpaygateway.net/restgw/cdn/cryptogram.min.js"
  id="checkout-js" type="text/javascript"
  data-transcenter="{{ settings.FPG_TRANSACTION_CENTER_ID }}"
  data-processor="{{ settings.FPG_PROCESSOR_ID }}"
  data-type="Sale"></script>
<script type="text/javascript">
  (function($) {
    $(document).ready(function() {
      $('.credit-card-fields').show()
    });
  })(jQuery);
</script>
{% endif %}
{% endblock %}
